
.wtform_table {
	margin-top: 10px;
	width: 520px;
	border: 1px solid #ebebeb;
}

.wtform_table td {

}

.wtform_cell_left {
	width: 350px;
}

.wtform_cell_right {
	width: 400px;
}

.wtform_input {
	width: 380px;
	border: 1px solid #ebebeb;
}


/*capctha*/

.captcha label {
	margin-top: 25px;
	margin-bottom: 0px;
}

#captcha_img {
	margin-bottom: -20px;
}

#captcha_juist {
	display: none;
}

#captcha_onjuist {
	display: none;
	color: red;
}

#captcha_onjuist a {
	color: #555555;
}

#captcha_onjuist a:hover {
	color: #000000;
}

input[name=captcha] {
	width: 150px;
	text-transform:uppercase;
	margin-top: 20px;
}
