
body {
	margin: 0px;
	padding: 0px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.75em;
	background-color: #0D3E88;
}

h1 {
	font-size: 1.2em;
	margin: 8px 0px;
}

h2 {
	font-size: 1.1em;
	margin: 8px 0px;
}

hr {
	color: #D40139;
	background-color: #D40139;
	height: 1px;
	border: 0px;
}

.grey {
	color: #777777;
}

.greyhr {
	color: #cccccc;
	background-color: #cccccc;
	height: 1px;
	border: 0px;
}

.financiele_table {
	margin-top: 5px;
	margin-bottom: 20px;
	background-color: #ffffff;
	font-size: 0.8em;
}

.financiele_table th {
	font-weight: normal;
	white-space: nowrap;
}

.financiele_table td {
	text-align: right;
	white-space: nowrap;
}

.financiele_table td:nth-child(1) {
	width: 70px;
}

.financiele_table td:nth-child(2) {
	width: 40px;
}

.financiele_table td:nth-child(3) {
	width: 50px;
}

.financiele_table td:nth-child(4) {
	width: 95px;
}

a:link,a:active,a:visited {
	color: #0000FF;
}

a:hover {
	color: #CC3333;
}

li {
	padding: 3px;
}

#wrapper {
	margin: 10px;
	padding: 0px;
	width: 1180px;
}

.wrapper_extrabreed {
	width: 1500px;
}

#top {
	margin: 0px;
	padding: 0px;
	height: 48px;
}

#logo {
	float: left;
}

#logout {
	top:10px;
	float: right;
	text-align: right;
}

#logout a {
	color: #FFFFFF;
}

#logout a:hover {
	color: #D40139;
}

#logout .cmssearch {
	margin-top: 3px;
	margin-left: 10px;
	display: inline-block;
}

#menu {
	float: left;
	width: 155px;
	background-color: #FFFFFF;
	padding: 8px;
	border: solid #D40139 2px;
	font-size: 1.1em;
	line-height: 170%;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 0px;
	padding-right: 0px;
	font-size: 0.8em;
}

#menu a {
	outline: 0;
}

#menu a {
	text-decoration: none;
	border-top: solid 1px #FFFFFF;
	border-bottom: solid 1px #FFFFFF;
	width: 150px;
	display: block;
	padding-left: 5px;
	padding-bottom: 1px;
}

#menu a:hover {
	color: #D40139;
	text-decoration: none;
	border-top: solid 1px #D40139;
	border-bottom: solid 1px #D40139;
	background-color: #ebebeb;
}

#menu .selected {
	font-weight: bold;
	color: #000000;
	border-top: solid 1px #FFFFFF;
	border-bottom: solid 1px #FFFFFF;
	padding-bottom: 1px;
	display: block;
	padding-left: 5px;
}

#menu .selected_clicked {
	font-weight: bold;
	padding-bottom: 1px;
}

#menu .not_clickable {
	color: #000000;
	border-top: solid 1px #FFFFFF;
	border-bottom: solid 1px #FFFFFF;
	padding-bottom: 1px;
	display: block;
	padding-left: 5px;
}

#menu .sub {
	color: #D40139;
	border-top: solid 1px #FFFFFF;
	border-bottom: solid 1px #FFFFFF;
	padding-bottom: 1px;
	display: block;
	padding-left: 0px;
	font-size: 0.9em;
	line-height: 130%;
}

#menu ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

#menu li {
	margin: 0px;
	padding: 0px;
	vertical-align: middle;
}

#content {
	float: left;
	width: 991px;
	margin-left: 10px;
	background-color: #FFFFFF;
	border: solid #D40139 2px;
	padding: 8px;
	min-height: 300px;
}

#clear, .clear {
	clear: both;
}

#footer {
	padding: 5px;
	font-size: 0.75em;
	width: 155px;
	text-align: center;
	color: #FFFFFF;
}

#footer a {
	text-decoration: none;
	color: #FFFFFF;
}

#footer a:hover {
	text-decoration: none;
	color: #D40139;
}

#terug {
	visibility: hidden;
	margin-top: 10px;
	font-size: 0.75em;
	text-align: right;
}

.borders {
	width: 33%;
	border: solid #282E82 1px;
}

#roominglist_bekijken {
	display: block;
	background-color: yellow;
	text-align: center;
	padding: 5px;
}

.opmerkingen {
	width: 400px;
	font-family:  Verdana, Helvetica, Arial, sans-serif;
	font-size: 1.0em;
	border: 2px solid #282E82;
}

.tbl {
	width: 100%;
	border: solid #282E82 1px;
}

.tbl th {
	background-color: #282E82;
	text-align: left;
	color: #ffffff;
	border: solid #282E82 1px;
	font-size: 1.1em;
}

.tbl td {
	vertical-align: top;
	border: solid #282E82 1px;
	padding: 3px;
}

.tbl th a:visited {
	color: #ffffff;
}

.tbl th a:link {
	color: #ffffff;
}

.tbl th a:active {
	color: #ffffff;
}

.tbl th a:hover {
	color: #D40139;
}

.tbl .tbl_icon {
	width: 20px;
}

.tbl .leftcell {
	width: 10px;
}

.tbl .rightcell {

}

#tablediv {
	z-index: 1;
	position: relative;
}

.striped tr:nth-child(odd) {
   background-color: #dddddd;
}

.tr_onopvallend, .tr_onopvallend a {
	color: #555555;
}

.tr_onopvallend a:hover {
	color: #d40139;
}

.logtbl {
	background-color: #cccccc;
}

.difftbl del {
	background-color: #ff6f6f;
}

.difftbl ins {
	background-color: #8bff99;
	text-decoration: none;
}

.row1 {
	background-color: #FFFFFF;
}

.row2 {
	background-color: #F3F3F3;
}

.row_delete {
	background-color: #FFA9A9;
}

.row_delete_confirm {
	background-color: #FF7979;
}

.row_edit {
	background-color: #FDFF86;
}

.row_show {
	background-color: #FDFF86;
}

.wt_cms_show {
	width: 450px;
	border: solid #282E82 2px;
}

.wt_cms_show th {
	background-color: #282E82;
	text-align: left;
	color: #ffffff;
	border: solid #282E82 1px;
	font-size: 1.1em;
}

.wt_cms_show td {
	padding: 3px;
	vertical-align: top;
}

.wt_cms_show th a:visited {
	color: #ffffff;
}

.wt_cms_show th a:link {
	color: #ffffff;
}

.wt_cms_show th a:active {
	color: #ffffff;
}

.wt_cms_show th a:hover {
	color: #D40139;
}

.wt_cms_show .leftcell {
	width: 10px;
}

.wt_cms_show .rightcell {

}

.frm_tbl {
	width: 700px;
	border: solid #282E82 1px;
}

.frm_tbl th {
	background-color: #282E82;
	text-align: left;
	color: #ffffff;
	border: solid #282E82 1px;
	font-size: 1.1em;
}

.frm_tbl td {
	padding: 3px;
}

.frm_tbl .cell_colspan {

}

.frm_tbl .wtform_input_narrow {

}

.frm_tbl .wtform_submitbutton {

}

.frm_img_tbl {
	border: solid #282E82 1px;
}

.error {
	color: red;
}

.wtform_table {
	width: 100%;
	background-color: #FFFFFF;
	border: 2px solid #282E82;
}

.wtform_input {
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: 1.0em;
	border: 1px solid #282E82;
	width: 670px;
	padding: 2px;
}

.wtform_input_narrow {
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: 1.0em;
	border: 1px solid #282E82;
}

.wtform_error {
	color: red;
}

.wtform_cell_left {
	width: 281px;
	padding: 6px;
	vertical-align:top;
	padding-top: 9px;
}

.wtform_cell_right {
	width: 630px;
	padding: 6px;
}

.wtform_textarea {
	min-height: 100px;
}

.wtform_cell_colspan {
	padding: 6px;
}

.wtform_img_tbl {
	border: solid #282E82 2px;
}

.wtform_small {
	font-size: 0.8em;
}

.wtform_multiradio_tbl {
	border: solid #878481 1px;
}

.wtform_multiradio_tbl th {
	background-color: #878481;
	text-align: left;
	color: #ffffff;
	border: solid #878481 1px;
	font-size: 1.1em;
}

.wtform_multiradio_tbl td {
	vertical-align: top;
	border: solid #878481 1px;
	padding: 3px;
}

.onlyprint {
	display: none;
	height: 0px;
}

.hide {
	visibility:hidden;
}

#content_voorkant {
	background-color: #FFFFFF;
	border: solid #D40139 2px;
	padding: 8px;
	height: 300px;
}

.content_popup {
	font-size: 0.8em;
	margin: 10px;
	background-color: #FFFFFF;
	border: solid #D40139 2px;
	padding: 8px;
}

.content_popup input {
	font-size: 1.0em;
}

.optie_knop {
	font-size: 1.3em;
	color: #FFFFFF;
}

.tarieventabel input[disabled] {
	color: #000000;
}

.opvallend {
	background-color: #FFFBBA;
}

.opvalmelding {
	background-color: yellow;
	font-weight: bold;
}

.opvalblok {
	background-color: #FFFBBA;
	padding: 10px;
	border: 1px solid #ebebeb;
	margin-bottom: 10px;
}

.niet_invullen {
	background-color: #D6D6D6;
}

.accinfo__in_typeform {
	color: #878481;
	font-size: 0.8em;
}

.tarieventabel_input {
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: 1.0em;
}

.optietarievenwijzigen {

}

.tr_reserveringsnummer {
	display: none;
}

.tr_datum_exact {

}

.tr_aankomstdatum {

}

.openklappen {
	cursor: pointer;
}

.voorraad_readonly {
	font-style: italic;
	opacity: 0.6;
}

.redlink {
	color: red;
	font-weight: bold;
	text-decoration: underline;
}

.redlink:hover {
	color: #878481;
	cursor: pointer;
}

.vertalingafvinken {
	cursor: pointer;
}

.kleinwis {
	font-size: 0.8em;
}

.noactive:focus {
	outline:0;
}

.noactive:active {
	outline:0;
}

.tr_venturasol_boeking {
	background-color: #fff093;
}

.tr_bestelstatus_hele_tr_opvallend {
	background-color: #94d3ff;
}

.cms_backup_block {
	background-color: yellow;
	border: 2px solid #b31aff;
	padding: 5px;
	margin-bottom: 20px;
	color: #b31aff;
	font-size: 1.3em;
	font-weight: bold;
}

.cms_backup_block a {
	font-size: 0.8em;
	color: #b31aff;
}

.cms_backup_block a:hover {
	color: #000000;
}

.cms_backup_block span {
	font-size: 0.9em;
	color: #000000;
}

.boekingen_bestelstatus_keuze {
	padding: 5px;
	border: 1px solid #888888;
	margin-top: 20px;
	margin-bottom: 20px;
}

a.target_blank {
	cursor: url(../pic/icons/mousecursor-target-blank.png), auto;
}

/* ----------------------- */
/*   tarievenmodule        */
/* ----------------------- */

#eigenaar_formulier {
	display: none;
	width: 500px;
	height: 450px;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -200px;
	margin-left: -225px;
	background-color: #ffffff;
	border: 2px solid #003366;
	padding: 10px;
	z-index: 101;
}

#eigenaar_formulier .cancel {
	width: 20px;
	height: 20px;
}

#eigenaar_formulier .cancel:hover {
	cursor: pointer;
	opacity: 0.7;
}

#eigenaar_formulier p {
	display: block;
	margin-top: 15px;
	margin-bottom: 5px;
	padding: 0;
}

#eigenaar_formulier input[type=text] {
	display: block;
	width: 400px;
	margin-top: 5px;
}

#eigenaar_formulier input[type=checkbox] {
	vertical-align:middle;
	position:relative;
	bottom:1px;
}

#eigenaar_formulier .opslaan_opmerking {
	font-size: 0.8em;
	color: #888888;
}

#dim_content {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.8);
	z-index: 100;
}

.tarieven_seizoen_begin_eind {
	margin-top: 10px;
	margin-bottom: 10px;
}

.tarieven_seizoen_begin_eind select {
	font-size: 1.0em;
}

/* ----------------------- */
/*   roominglist-systeem   */
/* ----------------------- */

.soort_garantie_1 {
	color: #40a64a;
}

.soort_garantie_2 {
	color: #e324ea;
}

/* ----------------------- */
/*   vertrekinfo-systeem   */
/* ----------------------- */

.vertrekinfo_prevalue {
	width: 674px;
	color: #878481;
	padding: 3px;
	padding-right: 3px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.vertrekinfo_tracking_voorheen {
	margin-bottom: 25px;
	color: blue;
}


/* ----------------------- */
/*   opmerkingen-balloon   */
/* ----------------------- */

a.opm {
	text-decoration: none;
	color: #000000;
	cursor: default;
}

a.opm:hover {
	color: blue;
}

a.opm .balloon {
	display: none;
}

a.opm:hover .balloon {
	display: block;
	position: absolute;
	margin: -45px 0px 0px 0px;
	border: 2px solid #000000;
	background: #ffffff;
	color: #000000;
	min-height: 30px;
	width: 300px;
	text-align: left;
	padding: 5px;
}

a.opm .balloon_fullwidth {
	display: none;
}

a.opm:hover .balloon_fullwidth {
	display: block;
	position: absolute;
	margin: -45px 0px 0px 0px;
	border: 2px solid #000000;
	background: #ffffff;
	color: #000000;
	min-height: 30px;
	min-width: 300px;
	text-align: left;
	padding: 5px;
}

a.opm img {
	cursor: pointer;
}

a.opm img:hover {
	opacity: 0.7;
}

a.opm .balloon_small {
	display: none;

	position: absolute;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: -2px;
	border: 1px solid #000000;
	background-color: yellow;
	color: #000000;
	min-height: 30px;
	width: 270px;
	text-align: left;
	vertical-align: bottom;
	padding: 5px;
}

a.opm .balloon_small2 {
	display: none;
}

a.opm:hover .balloon_small2 {
	display: block;
	position: absolute;
	margin-top: 30px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: -2px;
	border: 1px solid #000000;
	background-color: yellow;
	color: #000000;
	min-height: 30px;
	width: 270px;
	text-align: left;
	vertical-align: bottom;
	padding: 5px;
}

a.opm {
	color: blue;
	text-decoration: underline;
}

/* ----------------------- */
/*   scrollable table      */
/* ----------------------- */

.scrollContent {
	display: block;
	height: 300px;
	overflow: auto;
}

.showhide ul {
	margin-bottom: 0;
}

.tbl_cms_korting {
	width:700px;
	font-size:1.2em;
	border:2px solid #282e82;
}

.inkoopgegevens_onopvallend td {

}

/*.tr_inkoopgegevens_betalingsverschil {
	display: none;
}
*/
.inkoopgegevens_opvallend td {
	background-color: #fffbba;
	font-weight: bold;
}

.inkoopgegevens {
	width: 300px;
	margin-right: 15px;
}

.inkoopgegevens_actueel_positief {
	color: green;
	font-weight: bold;
}

.inkoopgegevens_actueel_negatief {
	color: red;
	font-weight: bold;
}

.inkoopgegevens_actueel_neutraal {
	color: grey;
}

.bijkomend_doorstrepen div {
	text-decoration: line-through;
	color: grey;
}

.margebalk {
	width: 100%;
	margin-bottom: 10px;
	font-weight: bold;
}

.margebalk td {
	padding: 4px;
}

.margebalk tr {
	color: #ffffff;
	background-color: #00b0f0;
}

#overzicht_grootboekrekeningen {
	display: none;
	margin-left: 40px;
}

.roomingaankomst_verzenden {
	display: none;
}

.financieel_logo_rechts {
	position: absolute;
	top: 60px;
	left: 1200px;
	width: 230px;
	height: 200px;
	background-color: #ffffff;
	border: 2px solid #CC3333;
	padding: 10px;
	font-weight: bold;
	font-size: 1.3em;
	text-align: center;
	z-index: 0;
}

.financieel_logo_rechts img {
	display: block;
	margin-top: 30px;
	width: 200px;
	margin-left: auto;
	margin-right: auto;
}

.financieel_venturasol {
	background-color: #fff093 !important;
}

.financieel_chalet {

}

#fixedtable_header_div {
	z-index: 101;
}

.wtactie_omschrijving {

}

.wtactie_omschrijving {
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
}

.copy_from_type {
	margin-top: 1em;
	margin-bottom: 0.5em;
	background-color: #95dbfe;
	width: 700px;
	padding: 3px;
	border: 1px solid #448fb4;
}

.copy_from_type button {
	line-height: 12px;
	font-size: 12px;
}

.copy_from_type input[type=text] {
	vertical-align: middle;
	position: relative;
	margin-bottom: 2px;
	text-transform: uppercase;
}

.copy_from_type input[type=checkbox] {
	vertical-align: middle;
	position: relative;
	margin-bottom: 4px;
}


.copy_from_type img {
	margin-bottom: -3px;
	display: none;
}

.field_from_copy {
	background-color: #95dbfe;
}


.cms_personal_data_kopieer {
	border: 1px solid #003366;
	padding: 7px;
	width: 678px;
	background-color: #ebebeb;
	margin: 20px 0 15px 0;
}

.cms_personal_data_kopieer input {
	width: 120px;
}

.cms_personal_data_kopieer button {
	margin-left: 5px;
}

.cms_personal_data_kopieer img {
	margin-left: 5px;
	margin-bottom: -3px;
	display: none;
}


/*bijkomende kosten*/

.cms_bk_seizoen {
	margin-top: 20px;
	margin-bottom: 20px;
	padding-top: 10px;
	border-top: 1px solid #d40139;
}


.cms_bk_seizoen_first {
	background-color: #cfcdf2;
}

.cms_bk_seizoen_nth {
	background-color: #f6e2dc;
}

.cms_bk_seizoen input[type=checkbox] {
	vertical-align:middle;
	position:relative;
	bottom:1px;
}

.cms_bk_seizoen select[name=bk_new] {
	margin-top: 5px;
	max-width: 480px;
}

.cms_bk_add {
	border: 1px solid #003366;
	padding: 7px;
	width: 478px;
	background-color: #ebebeb;
}

.cms_bk_kopieer {
	border: 1px solid #003366;
	padding: 7px;
	width: 478px;
	background-color: #ebebeb;
	margin: 20px 0 15px 0;
}

.cms_bk_kopieer input {
	width: 100px;
}

.cms_bk_kopieer button {
	margin-left: 5px;
}

.cms_bk_kopieer img {
	margin-left: 5px;
	margin-bottom: -3px;
	display: none;
}

.cms_bk_header_left {
	float: left;
}

.cms_bk_opmerkingen_intern {
	float: right;
}

.cms_bk_opmerkingen_intern h3 {
	font-size: 1.0em;
	font-weight: bold;
	margin: 0;
	padding: 0;
	/*display: none;*/
	margin-top: -15px;
	text-align: right;
}

.cms_bk_opmerkingen_intern textarea {
	width: 489px;
	height: 107px;
	font-size: 0.9em;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	/*background-color: #ebebeb;*/
	border: 1px solid #003366;
}

.cms_bk_all_rows {
	margin-top: 15px;
	border: 1px solid #003366;
	display: table;
}

.cms_bk_row {
	display: table-row;
}

.cms_bk_row > div {
	display: table-cell;
	padding: 5px;
}

.cms_bk_row input[type=text] {
	width: 50px;
	text-align: right;
}

.cms_bk_row > div:nth-child(1) {
	min-width: 250px;
}

.cms_bk_row > div:nth-child(2) {
	width: 150px;
}

.cms_bk_row > div:nth-child(3) {
	width: 150px;
}

.cms_bk_row > div:nth-child(4) {
	width: 155px;
}

.cms_bk_row > div:nth-child(5) {
	width: 60px;
}

.cms_bk_row > div:nth-child(6) {
	width: 150px;
}

.cms_bk_row > div:nth-child(7) {
	width: 20px;
}

.cms_bk_row:nth-child(odd) {
	background-color: #ebebeb;
}

.cms_bk_row_header {
	font-weight: bold;
}

.cms_bk_to_be_filled {
	background-color: #FFFBBA !important;
}

.cms_bk_row .delete {
	cursor: pointer;
	font-size: 1.1em;
}

.cms_bk_row .delete:hover {
	color: red;
}

.cms_bk_row_afwijkend_type {
	font-style: italic;
}

.cms_bk_row_afwijkend_type > div:nth-child(1) {
	padding-left: 20px;
}

.cms_bk_save_row > div:nth-child(1) {

}

.cms_bk_row_overwrite {
	color: red;
}

.cms_bk_seizoen input[type=submit] {
	display: block;
	margin-top: 10px;
	float: right;
}

.cms_bk_type_afwijkingen_overschrijven {
	display: block;
	float: right;
	visibility: hidden;
}

.cms_bk_seizoen .ajaxloader {
	visibility: hidden;
	display: block;
	float: right;
	margin-top: 14px;
	margin-right: 14px;
}

.cms_bk_oude_teksten {
	font-size: 0.9em;
	margin-top: 15px;
	margin-bottom: 25px;
	color: #555555;
}

.cms_bk_oude_teksten td {
	vertical-align: top;
	width: 471px;
	border: 1px solid #878481;
	padding: 10px;
}

.cms_bk_oude_teksten h5 {
	font-size: 1.1em;
	margin: 0;
	padding: 0;
}

.cms_bk_oude_teksten h5 a {
	font-weight: normal;
}

.cms_bk_bedrag {
	text-align: right;
}

.boekingkoptekst_acc_link {
	color: #ffffff !important;
}

.boekingkoptekst_acc_link:hover {
	color: #888888 !important;
}

#cms_body_cms_vertalingen textarea {
	background-color: #ebebeb;
}

#cms_body_cms_vertalingen .vertaal_nederlands {
	background-color: #ebebeb;
	border: 1px solid #000000;
	padding: 5px;
}
.image-grid {

    width: 100%;
    clear: both;
}

.image-grid-3 {

    width: 33.333%;
    float: left;
}

.image-grid-3 img {

    width: 98%;
    margin-bottom: 3px;
}

@media print {

	body {
		background-color: white;
	}

	#wrapper {
		width: 100%;
		margin: 0px;
		padding: 0px;
	}

	#menu {
		display: none;
	}

	#logout {
		display: none;
	}

	#content {
		margin-left: 0px;
		background-color: #ffffff;
		border: solid #282E82 0px;
		padding: 8px;
		height:300px;
	}

	#footer {
		display: none;
		height: 0px;
	}

	.frm_tbl {
		width: 100%;
		border: solid #282E82 1px;
	}

	.noprint {
		display: none;
		height: 0px;
	}

	.onlyprint {
		display: inline;
	}
}
