
#bloklinks {
	margin-left: 0px;
	margin-right: 0px;
}

.zoekresultaat_aanbieding {
	float: right;
	width: 70px;
}

#toonaccommodatie_aanbieding {
	float: right;
	width: 70px;
}

.zoekresultaat_type_typenaam_aanbieding {
	width: 15px;
}
