
#zoekenboek_leeg {
	margin-bottom: 10px;
}

.zoekresultaat_aanbieding {
	float: right;
	width: 70px;
}

#toonaccommodatie_aanbieding {
	float: right;
	width: 70px;
}

.zoekresultaat_type_typenaam_aanbieding {
	width: 15px;
}
