
#hoofdpagina_midden {
	float: left;
	width: 550px;
}

#hoofdpagina_rechts {
	float: right;
	width: 170px;
	margin-bottom: 5px;
	margin-right: 15px;
	margin-top: -60px;
}

#hoofdpagina_waarom {
	margin-top: 20px;
	margin-bottom: 10px;
	padding-bottom: 10px;
	width: 169px;
	background-color: #cfbcd8;
	border: 1px solid #cfbcd8;
	padding-left: 14px;
	color: #5f227b;
	cursor: pointer;
}

#hoofdpagina_waarom:hover {
	border: 1px solid #5f227b;
}

#hoofdpagina_waarom .kop {
	color: #5f227b;
	font-size: 1.2em;
	padding-left: 2px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#hoofdpagina_waarom ul {
	margin: 0;
	padding-left: 0px;
	list-style-type: none;
}

#hoofdpagina_waarom li {
	background: url(../pic/waarom_vinkje_zomer.gif) no-repeat 0 0px;
	padding-left: 13px;
	font-size: 0.9em;
	line-height: 0.9em;
}

#hoofdpagina_twitter_blok {
	margin-top: 10px;
	margin-bottom: 10px;
}

#directnaar {
	text-align:left;
	padding-bottom: 5px;
	margin-top: 5px;
}

#directnaar_kop {
	padding-bottom: 8px;
}

#directnaar a {

}

#laatstbekeken {
	width: 550px;
	float: left;
	margin-bottom: 10px;
	margin-top: 0px;
}

#laatstbekeken_acc_wrapper {
	width: 500px;
}

.laatstbekeken_divider {
	width: 24px;
}

#directnaar ul {
	padding-left: 1px;
}

#hoofdpagina_blok {
	position: relative;
	float: left;
	width: 550px;
	height: 380px;
	background-color: #cbd328;
	margin-bottom: 20px;
}

.hoofdpagina_blok_content {
	position: absolute;
	width: 550px;
	cursor: pointer;
	text-decoration: none;
}

#hoofdpagina_blok:hover {
	outline: 1px solid #5f227b;
}

.hoofdpagina_blok_titel {
	font-size: 1.3em;
	font-weight: normal;
	color: #ffffff;
	height: 22px;
	overflow: hidden;
	padding-left:5px;
	margin-top: 3px;
}

.hoofdpagina_blok_omschrijving {
	color: #5f227b;
	height: 33px;
	overflow: hidden;
	margin-left:5px;
}

#hoofdpagina_blok_tellers {
	margin-top: 5px;
	margin-right: 8px;
	top: 92.5%;
	position:absolute;
	right:0;
}

.hoofdpagina_blok_teller {
	float: left;
	text-align: right;
	cursor: pointer;
	color: #ffffff;
	font-size: 26px;
	margin-top: -9px;
	margin-left: 5px;
}

.hoofdpagina_blok_teller:hover {
	color: #5f227b;
}

.hoofdpagina_blok_teller_active {
	color: #5f227b;
}

#hoofdpagina_bekijkbestemmingen {
	text-decoration: none;
	background-color: #cbd328;
	display: block;
	padding: 5px;
	text-align: center;
	border: 1px solid #cbd328;
	margin-bottom: 20px;
}

#hoofdpagina_bekijkbestemmingen h3 {
	margin: 0;
	color: #ffffff;
	font-size: 1.3em;
	font-weight: normal;
	margin-bottom: 5px;
}

#hoofdpagina_bekijkbestemmingen h4 {
	margin: 0;
	color: #5f227b;
	font-size: 1.6em;
	font-weight: normal;
	margin-top: 5px;
}

#hoofdpagina_bekijkbestemmingen:hover {
	border: 1px solid #5f227b;
	color: #5f227b;
}

#hoofdpagina_bekijkbestemmingen:hover h4 {
	color: #ffffff;
}

#hoofdpagina_italissima {
	text-decoration: none;
	background-color: #ffffff;
	display: block;
	padding: 5px;
	text-align: center;
	border: 1px solid #ff9900;
	margin-bottom: 20px;
	background: url(../pic/zomerhuisje_hoofdpagina/italissima_link.jpg?c=1) no-repeat 0 0px;
	height: 230px;
	color: #ffffff;
}

#hoofdpagina_italissima h3 {
	margin: 0;
	font-weight: normal;
	color: #ffffff;
}

#hoofdpagina_italissima h4 {
	margin: 0;
	margin-top: 0px;
	font-weight: normal;
	color: #ffffff;
	font-size: 1.4em;
}

#hoofdpagina_italissima:hover {
	border: 1px solid #661700;
}

#hoofdpagina_alpedhuzes {
	text-decoration: none;
	background-color: #ffffff;
	display: block;
	text-align: center;
	margin-bottom: 20px;
	background: url(../pic/zomerhuisje_hoofdpagina/alpedhuzes.jpg) no-repeat 0 42px;
	height: 157px;
	color: #ffffff;
}

#hoofdpagina_alpedhuzes h3 {
	display: block;
	background-color: #5f227b;
	color: #ffffff;
	padding: 5px;
}

#hoofdpagina_alpedhuzes:hover {
	outline: 1px solid #5f227b;
}

#hoofdpagina_sociallinks {
	width: 170px;
	background-color: #ffffff;
	color: #5f227b;
	text-align: left;
}

#hoofdpagina_sociallinks img {
	margin-right: 7px;
	vertical-align: text-top;
}

h1 {
	font-size: 1.8em;
	text-align: justify;
	text-transform:uppercase;
	width: 550px;
	margin-bottom: 10px;
	height: 30px;
}

h2 {
	font-weight: normal;
	font-size: 1.8em;
	text-transform: uppercase;
	width: 550px;
	height: 30px;
	margin-bottom: 22px;
	margin-top: -12px;
	margin-left: 10px;
}

/* TIJDELIJK!!!! */
/* TIJDELIJK!!!! */
/* TIJDELIJK!!!! */

