
#hoofdpagina_waarom {
	display: block;
	margin-top: 15px;
	margin-bottom: 15px;
	padding-bottom: 5px;
	width: 188px;
	border: 1px solid #e0d1cc;
	background-color: #e0d1cc;
	padding-left: 9px;
	color: #000000;
	cursor: pointer;
	text-decoration: none;
}

#hoofdpagina_waarom:hover {
	border: 1px solid #ff9900;
}

#hoofdpagina_waarom .kop {
	color: #661700;
	font-size: 1.2em;
	padding-left: 2px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#hoofdpagina_waarom ul {
	margin: 0;
	padding-left: 0px;
	list-style-type: none;
}

#hoofdpagina_waarom li {
	background: url(../pic/waarom_vinkje_italissima.gif) no-repeat 0 0px;
	padding-left: 13px;
	font-size: 0.9em;
	line-height: 1.1em;
}

#hoofdpagina_tarievenalbekend {
	display: block;
	background-color: #ffd38f;
	padding-top: 6px;
	padding-left: 9px;
	padding-right: 9px;
	padding-bottom: 8px;
	margin-bottom: 10px;
	margin-top: 15px;
	border: 1px solid #ffd38f;
	text-decoration: none;
	color: #000000;
}

#hoofdpagina_tarievenalbekend:hover {
	border: 1px solid #661700;
	color: #000000;
}

#hoofdpagina_tarievenalbekend h2 {
	font-weight: bold;
	margin-bottom: 6px;
	color: #661700 !important;
}

#hoofdpagina_tarievenalbekend img {
	display: block;
	margin-bottom: 3px;
}

#hoofdpagina_tarievenalbekend_bekijk {
	margin-top: 3px;
	color: #661700;
	text-decoration: underline;
	float: right;
}

#hoofdpagina_twitter_blok {
	margin-top: 15px;
}

#hoofdpagina_twitter_blok hr {
	color: #ffffff;
	background-color: #ffffff;
	height: 2px;
	border: 0px;
}

#hoofdpagina_links {
	margin-top: -5px;
	float: left;
}

#hoofdpagina_koptekst h1 {
	font-size: 1.8em;
	margin: 0;
	margin-left: 6px;
	margin-bottom: 20px;
}

#hoofdpagina_blok {
	position: relative;
	background-color: #ff9900;
	width: 360px;
	height: 345px;
	float: left;
	padding: 15px;
}

.hoofdpagina_blok_content {
	position: absolute;
	width: 360px;
	cursor: pointer;
}

#hoofdpagina_blok img {
	width: 360px;
	height: 270px;
	margin-bottom: 5px;
	margin-left: -1px;
	border: 1px solid #ff9900;
}

.hoofdpagina_blok_titel {
	font-size: 1.3em;
	font-weight: bold;
	color: #ffffff;
	height: 22px;
	overflow: hidden;
}

.hoofdpagina_blok_omschrijving {
	color: #661700;
	height: 33px;
	overflow: hidden;
}

#hoofdpagina_blok_tellers {
	position: absolute;
	top: 342px;
	margin-top: 0px;
	margin-right: 15px;
	right: 0;
}

.hoofdpagina_blok_teller {
	float: left;
	text-align: center;
	width: 17px;
	margin-left: 4px;
	cursor: pointer;
	font-size: 26px;
	color: #ffffff;
}

.hoofdpagina_blok_teller:hover {
	color: #661700;
}

.hoofdpagina_blok_teller_active {
	color: #661700;
}

#hoofdpagina_midden {
	margin-left: 20px;
	height: 345px;
	float: left;
}

#hoofdpagina_kaart {
	cursor: pointer;
}

#hoofdpagina_kaart:hover {
	text-decoration: underline;
}

#hoofdpagina_kaart:hover img {
	opacity: 0.7;
}

#hoofdpagina_kaart h2 {
	margin-bottom: 38px;
}

#hoofdpagina_meerinfo {
	margin-top: 33px;
}

#hoofdpagina_meerinfo h2 {
	font-size: 1.0em;
	margin-bottom: 4px;
	color: #ff9900;
}

#hoofdpagina_rechts {
	float: right;
	margin-top: -5px;
	margin-left: 10px;
	width: 170px;
}

#hoofdpagina_vraagonsadvies {
	display: block;
	background-color: #ffd38f;
	padding: 9px;
	padding-bottom: 12px;
	margin-bottom: 15px;
	border: 1px solid #ffd38f;
	text-decoration: none;
	color: #000000;
}

#hoofdpagina_vraagonsadvies h2 {
	font-weight: normal;
	margin-top: 2px;
	margin-bottom: 8px;
	color: #661700 !important;
}

#hoofdpagina_vraagonsadvies:hover {
	border: 1px solid #661700;
}

#hoofdpagina_vraagonsadvies_leesmeer {
	color: #661700;
	text-decoration: underline;
	float: right;
	font-size: 0.85em;
}

#hoofdpagina_blog {
	min-height: 480px;
	background-color: #e0d1cc;
	padding: 10px;
	padding-bottom: 12px;
}

#hoofdpagina_blog h2 {
	font-weight: bold;
	margin-top: 2px;
	margin-bottom: 8px;
	border-bottom: 2px solid #ffffff;
	padding-bottom: 8px;
}

#hoofdpagina_blog h2 a {
	text-decoration: none;
}

.hoofdpagina_blog_item {
	font-size: 0.85em;
	line-height: 120%;
}

#hoofdpagina_blog img {
	width: 148px;
}

.hoofdpagina_blog_titel {
	margin-top: 6px;
	margin-bottom: 6px;
	color: #661700;
	font-weight: bold;
}

.hoofdpagina_blog_titel a {
	text-decoration: none;
}

.hoofdpagina_blog_inleiding {

}

.hoofdpagina_blog_link {
	margin-top: 4px;
}

#hoofdpagina_blog hr {
	color: #ffffff;
	background-color: #ffffff;
	height: 2px;
	border: 0px;
	margin-top: 12px;
	margin-bottom: 12px;
}

#hoofdpagina_sociallinks {
	margin-top: -10px;
	margin-left: 10px;
	margin-right: 10px;
	color: #661700;
	text-align: left;
}

#hoofdpagina_sociallinks .twitter {
	margin-left: 22px;
	margin-right: 22px;
}

#hoofdpagina_trustpilot {
	margin-top: 15px;
	overflow-y: hidden;
}

#hoofdpagina_trustpilot:hover {
	opacity: .7;
}

#laatstbekeken {
	width: 580px;
	float: left;
	margin-top: 15px;
}

#laatstbekeken_acc_wrapper {
	margin-left: 30px;
	margin-right: 20px;
	width: 536px;
}

.laatstbekeken_divider {
	width: 34px;
}
