

.boekbutton_tekst {
	background-position: 8px 1px;
}

#terugnaarzoekresultaten {
	padding: 0;
	height: 30px;
}

#favadd, #favremove {
	padding: 0;
	height: 30px;
}

.tarieventabel_totaalprijs_left {
	width: 270px;
}