
html {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.8em;
	overflow-y: scroll;
}

body {
	margin:0;
	padding:0;
	background-color: #f3f3f3;
}

a {
	color: #0412b1;
}

a:hover {
	color: #a1bddb;
}

a:active, a:focus {
	outline: 0;
}

h1 {
	padding: 0;
	margin: 0;
	color: #0412b1;
	font-size: 1.5em;
	font-weight: normal;
	margin-bottom: 5px;
}

h2 {
	padding: 0;
	margin: 0;
	color: #0412b1;
	font-size: 1.2em;
	font-weight: bold;
}

h3 {
	padding: 0;
	margin: 0;
	color: #0412b1;
	font-size: 1.0em;
	font-weight: bold;
}

hr {
	height: 1px;
}

#toonaccommodatie_kopteksten h1 {
	padding: 0;
	margin: 0;
	color: #0412b1;
	font-size: 1.2em;
	font-weight: bold;
}

form {
	margin:0;
}

#wrapper {
	width: 970px;
	background-color: #ffffff;
	margin-left: auto;
	margin-right: auto;
}

#top {

}

#submenu_table {
	margin-left: auto;
	margin-right: auto;
}

#submenu {
	color: #999999;
	padding-top: 3px;
	padding-bottom: 3px;
	font-size: 0.85em;
}

#submenu a {
	color: #999999;
	font-weight: normal;
}

#submenu a:hover {
	color: #a1bddb;
}

#topfoto {
	display: block;
	width: 970px;
	height: 180px;
}

#logo {
	float: left;
	margin-left: 16px;
	margin-top: 19px;
	background:url("../pic/logo_venturasol.png") top left no-repeat;
	width: 300px;
	height: 120px;
	text-decoration: none;
}

#balkbovencontent {
	height: 20px;
	margin-right: 3px;
}

#tagline {
	width: 285px;
	float: right;
	color: #0412b1;
	text-decoration: none;
	margin-top: 50px;
	margin-right: -28px;
}

#tagline h1 {
	color: #0412b1;
	font-size: 1.1em;
	font-weight: bold;
	display: block;
	margin: 0;
	padding: 0;
	letter-spacing: 0px;
	text-align: center;
}

#sgr_logo {
	float: right;
	margin-right: 30px;
	margin-top: 0px;
	background:url("../pic/sgr_transparant_klein.png") top left no-repeat;
	width: 25px;
	height: 22px;
	text-decoration: none;
}

#telefoonblok {
	position: absolute;
	top: 239px;
	margin-left: 15px;
	width: 180px;
	padding: 2px;
	background-color: #ffdc00;
	color: #0412b1;
	-webkit-border-radius: 11px;
	-moz-border-radius: 11px;
	border-radius: 11px;
	behavior: url(/PIE.htc);
	border: 1px solid #0412b1;
}

#telefoonblok:hover {
	-moz-box-shadow: 2px 2px 2px #888;
	-webkit-box-shadow: 2px 2px 2px #888;
	box-shadow: 2px 2px 2px #888;
}

.telefoonblokhover {
	cursor: pointer;
}

#telefoonblok_nummer {
	padding-top: 2px;
	font-size: 1.2em;
	color: #0412b1;
}

/* klikbaar telefoonnummer in iOS */
#telefoonblok_nummer a {
	color: #ffffff;
}

#telefoonblok_nummer img {
	margin-left: 8px;
	margin-right: 5px;
}

#telefoonblok_open {
	padding-top: 2px;
	padding-bottom: 1px;
	font-size: 0.7em;
	text-align: center;
	color: #0412b1;
}

#bekekenbewaard {
	margin-left: 30px;
	font-size: 0.8em;
	text-align: left;
	float: left;
}

#meldingen {
	font-size: 0.85em;
	float: right;
}

#meldingen a {
	color: #0412b1;
	font-weight: normal;
}

#meldingen a:hover {
	color: #a1bddb;
}

#menubalk {

}

#hoofdmenu {
	font-size: 1.1em;
	font-weight: normal;
	height: 20px;
	background-color: #0412b1;
	color: #ffffff;
	text-align: center;
}

#hoofdmenu a {
	color: #a1bddb;
	text-decoration: none;
}

#hoofdmenu a:hover {
	color: #ffffff;
}

.hoofdmenu_actief {
	color: #ffffff;
}

.hoofdmenuspacer {
	color: #ffffff;
}

#kleinelogos {
	float: right;
	margin-top: 7px;
	margin-right: 5px;
}

#content {

}

#contentvolledig {
	margin-left: 30px;
	margin-right: 5px;
	padding-bottom: 3px;
}

#bloklinks_blok {
	float: left;
	width: 180px;
	z-index: 0;
	margin-top: 40px;
	margin-right: 10px;
	margin-left: 15px;
}

#bloklinks {
	width: 200px;
	margin-left: auto;
	margin-right: auto;
}

.zoekenboek_tekst {
	font-style: italic;
}

.div_met_border {
	border: 1px solid #e6007e;
}

.bloklinks_kop {
	color: #0412b1;
	font-size: 1.4em;
	font-weight: normal;
}

#favorieten_popup {
	color: #ffffff;
}

.laatstbekeken_favorieten {
	border: 1px solid #0412b1;
	background-color: #ffffff;
	text-align: center;
	margin-bottom: 10px;
	width: 168px;
}

.laatstbekeken_favorieten a {
	display: block;
	text-decoration: none;
}

#zoekenboek_overlay {
	position: absolute;
	top: 298px;
	margin-left: 21px;
	width: 170px;
	height: 235px;
	z-index: 2;
	background-color: #ffffff;
}

#zoekenboek_leeg {
	width: 170px;
	height: 235px;
}

#zoekenboek_overlay select {
	width: 170px;
	margin: 0;
}

#zoekenboek_overlay .tekstzoeken {
	width: 160px;
}

#zoekenboek_overlay input {
	margin: 0;
}

#zoekenboek_overlay .zoekenboek_invulveld {
	margin-bottom: 11px;
}

.zoekenboek_invulveld_bestemming:hover {
	border-color: #0412b1;
	color: #000000;
	/*background: #d5e1f9;*/
}

#zoekenboek_aanbiedingen {
	width: 196px;
	border: 1px solid #0412b1;
	background-color: #e0d1cc;
	margin-left: -15px;
	margin-top: 4px;
}

#zoekenboek_aanbiedingen_kop {
	color: #ffffff;
	background-color: #0412b1;
	font-size: 1.2em;
	font-weight: bold;
	padding: 3px;
}

.bloklinksrechts_kop {
	color: #0412b1;
	font-size: 1.4em;
	font-weight: normal;
}

.zoekenboek_kop {
	margin-bottom: 8px;
}

#breadcrumbbalk {
	height: 20px;
	margin-right: 5px;
}

#breadcrumb_wrapper {
	width: 970px;
	background-color: #ffffff;
	margin-left: 0;
	margin-right: auto;
}

#breadcrumb_overlay {
	position: absolute;
	top: 238px;
	margin-left: 227px;
	width: 735px;
	height: 20px;
	z-index: 2;
	font-size: 0.8em;
}

#directnaar {
	margin-top: 20px;
	margin-left: 20px;
	text-align: left;
	padding-bottom: 5px;
}

#directnaar_kop {
	padding-bottom: 3px;
}

#directnaar a {

}

#directnaar ul {
	padding-left: 1px;
}

#contactgegevens {
	font-size: 0.85em;
	text-align: right;
	margin-bottom: 3px;
}

#koptekst_rechts {
	float: left;
}

#contentrechts {
	float: right;
	width: 740px;
	padding-right: 5px;
	margin-left: 10px;
}

.overlay_foto {
	position:relative;
	cursor: pointer;
	color: #ffffff;
}

.overlay_foto:hover {
	color: #0412b1;
}

#blokaccommodatie {
	padding: 10px;
	min-height: 120px;
	padding-left: 10px;
}

#blokaccommodatie_overlay {
	position: absolute;
	bottom: 0px;
	left: 0px;
	height: 33px;
	width: 176px;
	text-align: center;
	padding: 2px;
	padding-top: 4px;
	background: url('../pic/fotoslider/transparent-bg.png');
	font-size: 0.9em;
	font-weight: normal;
}

#blokaccommodatie .overlay_foto:hover {
	color: #0412b1;
}

#cookie_bottombar a {
	color: #a1bddb;
}

#cookie_bottombar_close {
	color: #a1bddb;
}

.button {
	width: 168px;
	font-size: 0.9em;
	background-color: #0412b1;
	border: 1px solid #0412b1;
	color: #ffffff;
	cursor: pointer;
	text-align: center;
	padding-top:6px;
	height: 20px;
	margin-top: 10px;
}

.button:hover {
	border: 1px solid #a1bddb;
}

.button_accpagina {
	background-color: #0412b1;
	border: 1px solid #0412b1;
	color: #ffffff;
	-webkit-border-radius: 11px;
	-moz-border-radius: 11px;
	border-radius: 11px;
	behavior: url(/PIE.htc);
	position: relative;
	margin-bottom: 10px;
}

.button_accpagina:hover, #terugnaarzoekresultaten:hover {
	border: 1px solid #0412b1;
	color: #a1bddb;
}

.boekbutton {
	background-color: #fb6703;
	border: 1px solid #fb6703;
	color: #ffffff;
	height: 30px;
}

.boekbutton:hover {
	border: 1px solid #0412b1;
	color: #0412b1;
}

#toonaccommodatie_boekbalk_bovenkant {
	min-height: 208px;
}

.redtext {
	color: #0412b1;

}

.onlyprint {
	display: none;
	height: 0px;
}

.tarieventabel {
	font-size: 0.8em;
}

.tarieventabel th {
	color: #0412b1;
	font-size: 1.3em;
	color: #ffffff;
}

.tarieventabel td {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.9em;
	padding: 2px;
}

.tarieventabel .afwijkingenaankomstdatum {
	font-size: 1.1em;
}

.tarieventabel .onderste_regel {
	font-size: 1.2em;
}

.tarieventabel .onderste_regel a {
	color: #ffffff;
}

.tarieventabel .onderste_regel a:hover {
	color: #cccccc;
}

/**/
/*NIEUWE TARIEVENTABEL*/
/**/
.tarieventabel_wrapper {
	border-color: #a1bddb;
}

.tarieventabel_wrapper a:hover {
	color: #000000;
}

.tarieventabel_top {
	background-color: #a1bddb;
	color: #0412b1;
}

.tarieventabel_top h1 {
	color: #0412b1;
}

.tarieventabel_toelichting {
	background-color: #a1bddb;
}

.tarieventabel_toelichting h1 {
	color: #0412b1;
}

.tarieventabel_border, .tarieventabel_border td, .tarieventabel_titels_links {
	border-color: #a1bddb;
}

.tarieventabel_datumbalk {
	background-color: #e6f0fc;
}



.img-swap {
	border: 0px;
}

.sunnycar_banner {
	border:1px solid #0412b1;
	margin-top:0px;
	cursor:pointer;
	margin-right:5px;
}

.sunnycar_banner:hover {
	border:1px solid #5f227b;
}

#landkaartklikbaar {
	margin-top: 20px;
	margin-left: 0px;
}

#landkaartklikbaar h2 {
	margin-left: 0px;
	margin-bottom: 10px;
}

#landkaartklikbaar_kaart {
	float: left;
	margin-left:0px;
}

#landkaartklikbaar_namen {
	margin-left: 40px;
	margin-top: 50px;
	float: left;
	text-align: left;
}

#landkaartklikbaar_namen .landnaam {
	margin-bottom: 10px;
}

#landkaartklikbaar_info {
	margin-left: 0px;
	margin-bottom: -5px;
	height: 30px;
	font-size: 1.2em;
}

.nomaphref {
	cursor: default;
}

#tabs {
	margin-top: 20px;
}

.flexalternatieven {
	border: 1px solid #0412b1;
	margin-top:10px;
	margin-bottom:10px;
	padding:5px;
	width:678px;
	background-color: #0412b1;
}

.flexalternatieven a:hover {
	color: #ffffff;
}

#terugnaarboven {
	text-align: right;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 0.85em;
}

#colofon_wrapper {
	width: 970px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 20px;
	background-color: #ffffff;
}

#colofon {
	background-color: #0412b1;
	height: 17px;
	text-align: center;
	padding-top: 3px;
	color: #ffffff;
	font-size: 0.85em;
}

#colofon a {
	color: #ffffff;
	text-decoration: none;
}

#colofon a:hover {
	color: #a1bddb;
}

#ondercolofon {
	font-size: 0.8em;
	margin-top: 3px;
	margin-bottom: 6px;
	width: 970px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
#ondercolofon_nieuw {
	font-size: 0.8em;
	margin-top: 3px;
	margin-bottom: 6px;
	width: 72%;
}
#ondercolofon_nieuw a {
	text-decoration:none;
}

#ondercolofon_nieuw a:hover {
	color: #0412b1;
}

#ondercolofon a {
	color: #999999;
}

#ondercolofon a:hover {
	color: #0412b1;
}

#laatstbekeken {
	float: left;
	margin-top: 30px;
	background-color: #ffffff;
	width: 740px;
	border:1px solid #0412b1;
	-webkit-border-radius: 11px;
	-moz-border-radius: 11px;
	border-radius: 11px;
	behavior: url(/PIE.htc);
	position: relative;
}

#laatstbekeken .kop {
	color: #0412b1;
	font-size: 1.2em;
	margin-top: 8px;
	margin-bottom: 8px;
}

#laatstbekeken_acc_wrapper {
	margin-left: auto;
	margin-right: auto;
	width: 690px;
}

.laatstbekeken_acc {
	float: left;
	width: 150px;
	text-align: left;
	cursor: pointer;
	font-size: 0.8em;
	color: #0412b1;
}

.laatstbekeken_acc img {
	width: 150px;
}

.laatstbekeken_img_div {
	min-height: 115px;
}

.laatstbekeken_tekst {

}

.laatstbekeken_tekst_hover {
	color: #0412b1;
}

.laatstbekeken_divider {
	float: left;
	width: 30px;
}

#laatstbekeken_volledigelijst {
	text-align: right;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-top: 5px;
}

#blogverwijzing {
	margin-top: 20px;
}

#blogverwijzing hr {
	color: #0412b1;
	background-color: #0412b1;
	height: 2px;
	border: 0px;
}

#blogverwijzing h1 {
	font-size: 1.0em;
	font-weight: bold;
}

#bekijkflexibel {
	background-color: #ffa73f;
	margin-top: 10px;
	border: 1px solid #0412b1;
}

.aanbiedingtabel {
	border: 1px solid #0412b1;
}

.aanbiedingtabel th {
	border: 0px;
	padding: 6px;
}

.aanbiedingtabel td {
	border: 0px;
	padding: 6px;
}

.gekleurdetekst {
	color: #0412b1;
}

#zoekblok {
	border: 1px solid #0412b1;
	background-color: #ffffff;
	width: 678px;
}

.option_land {
	background-color: #0412b1;
	color: #ffffff;
}

.option_regio {
	color: #0412b1;
}

.option_actief {
	color: #777777;
}

#geenresultaten {
	border: 1px solid #5f227b;
	width: 656px;
}

#weekendski_opmerking {
	border:1px solid #e6007e;
}

.zoekresultaten_paginas a {
	background-color: #0412b1;
	border: 1px solid #0412b1;
	color: #ffffff;
}

.zoekresultaten_paginas_active {
	background-color: #e6007e;
	border: 1px solid #0412b1;
	color: #ffffff;
}

.zoekresultaten_paginas a:hover {
	background-color: #a1bddb;
	color: #ffffff;
}

.zoekresultaten_aantalgevonden {
	background-color: #0412b1;
	color: #ffffff;
}

.zoekresultaten_zoeken_op_kaart_map {
	border-color: #0412b1;
}

#zoekresultaten_sorteer {
	margin-top: 10px;
}

#zoekresultaten_sorteer a {
	color: #0412b1;
}

#zoekresultaten_sorteer .active {
	color: #0412b1;
}

#zoekresultaten_sorteer a:hover {
	color: #a1bddb;
}

#zoekresultaten_sorteer #zoekresultaten_sorteer_tekst {
	background-color: #ffffff;
	color: #000000;
}

.zoekresultaten_opmerking_tussen_resultaten {
	background-color: #0412b1;
	color: #0412b1;
}

.zoekresultaat {
	border: 1px solid #0412b1;
}

.zoekresultaat:hover {
	border: 1px solid #a1bddb;
}

#hulp_zoekresultaat_hover {
	color: #a1bddb;
}

.zoekresultaat_type {
	border-left: 1px solid #0412b1;
	border-right: 1px solid #0412b1;
	border-bottom: 1px solid #0412b1;
}

.zoekresultaat_type_een_resultaat {
	border-top: 1px solid #0412b1;
}

.zoekresultaat_titel {
	color: #ffffff;
}

.zoekresultaat_locatie {
	color: #0412b1;
}

.zoekresultaat_top {
	background-color: #0412b1;
}

.zoekresultaat_omschrijving {
	color: #0412b1;
}

.zoekresultaat_prijs_vanaf {
	color: #0412b1;
}

.zoekresultaat_prijs_periode {
	color: #0412b1;
}

.zoekresultaat_prijs_bedrag {
	color: #0412b1;
}

.zoekresultaat_prijs_per {
	color: #0412b1;
}

.zoekresultaat_aanbieding {
	color: #e6007e;
}

.zoekresultaat_type_aanbieding {
	color: #e6007e;
}

.zoekresultaat_type_prijs_aanbieding {
	color: #0412b1;
}

.zoekresultaat_prijs_bedrag_aanbieding {
	color: #0412b1;
}

.zoektabel_zoek_alleen_aanbiedingen {
	background-color: #e6007e;
}

.land_omschrijving_openklappen {
	display: block;
	text-align: right;
	height: 20px;
	margin-top: 10px;
}

#land_omschrijving_afgebrokendeel {
	display: none;
}


.wtform_table {
	border-width: 1px;
}







/*Code van Miguel*/

#footerWrap {
	width:100%;
	background-color:#FFFFFF;
	font-size:11px;
	color:#0412b1;
}

#footerWrap table {
	border-top-color:#0412b1;
}

.IND {
	width:100%;
}

.divSepIND {
	float:left;
	padding-left: 20px;
	height: 200px;
	width: 169px;
	background-color:#a1bddb;
}

.divSepIND li {
	background-image: url(../pic/li_img_superski_footer.png);
	background-position: 0px 3px;
  	background-repeat: no-repeat;
  	padding-left: 10px;
  	list-style: none;
}

.divSepIND a {
	color: #0412b1;
	text-decoration:none;
}

.divSepIND a:hover {
	text-decoration:underline;
}

.wrap {
	float:left;
	position:relative;
	left:25px;
	width:650px;
	border:0px;
	border-color:black;
	border-style: solid;
}

.divContentIND li {
	background-image: url(../pic/li_img_superski_footer.png);
	background-position: 0px 3px;
  	background-repeat: no-repeat;
  	padding-left: 10px;
  	list-style: none;
}

.divContentIND {
	float:left;
	padding-left:15px;
}

.divContentIND a {
	text-decoration:none;
	color: #0412b1;
}

.divContentIND a:hover {
	text-decoration:underline;
}

/* wie zijn wij */
#body_wie-zijn-wij b {
	color: #0412b1;
}


/* Aanpassingen jQueryUI tabs */

.ui-tabs .ui-tabs-panel {
	border: 1px solid #0412b1;
	-webkit-border-radius: 11px;
	-moz-border-radius: 11px;
	border-radius: 11px;
}


/* Corner radius */
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl { -moz-border-radius-topleft: 11px; -webkit-border-top-left-radius: 11px; -khtml-border-top-left-radius: 11px; border-top-left-radius: 11px; }
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr { -moz-border-radius-topright: 11px; -webkit-border-top-right-radius: 11px; -khtml-border-top-right-radius: 11px; border-top-right-radius: 11px; }
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl { -moz-border-radius-bottomleft: 11px; -webkit-border-bottom-left-radius: 11px; -khtml-border-bottom-left-radius: 11px; border-bottom-left-radius: 11px; }
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br { -moz-border-radius-bottomright: 11px; -webkit-border-bottom-right-radius: 11px; -khtml-border-bottom-right-radius: 11px; border-bottom-right-radius: 11px; }

/* Overlays */
.ui-widget-overlay { background: #666666 url(images/ui-bg_diagonals-thick_20_666666_40x40.png) 50% 50% repeat; opacity: .5;filter:Alpha(Opacity=50); }
.ui-widget-shadow { margin: -5px 0 0 -5px; padding: 5px; background: #000000 url(images/ui-bg_flat_10_000000_40x100.png) 50% 50% repeat-x; opacity: .2;filter:Alpha(Opacity=20); -moz-border-radius: 11px; -khtml-border-radius: 11px; -webkit-border-radius: 11px; border-radius: 11px; }


/* tabs stukje naar rechts schuiven (vanwege rounded corner eronder) */
.ui-tabs .ui-tabs-nav { margin-left: 11px !important; }


.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
	color: #0412b1;
}

.ui-state-hover a, .ui-state-hover a:link, .ui-state-hover a:visited {
	color: #0412b1;
}


@media print {

	body {
		background-color: white;
	}

	#wrapper {
		width: 100%;
		margin: 0px;
		padding: 0px;
	}

	#contentrechts {

	}

	#menubalk {
		display: none;
	}

	#submenu {
		display: none;
	}

	.noprint {
		display: none;
		height: 0px;
	}

	.onlyprint {
		display: inline;
	}

	#menubalk_print {
		position: absolute;
		top: 10px;
		left: 0px;
		text-align: left;
	}

	#menubalk_print_logo {
		float: left;
		margin-right: 20px;
	}

	#menubalk_print_logo img {
		width: 200px;
	}

	#menubalk_print_info {
		float: left;
	}

	a {
		text-decoration: none;
	}

	.ui-tabs .ui-tabs-panel {
		border: 0;
	}

}
