
html {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.8em;
	overflow-y: scroll;
}

body {
	margin:0;
	padding:0;
	background-color: #f3f3f3;
}

a {
	color: #661700;
}

a:hover {
	color: #ff9900;
}

a:active, a:focus {
	outline: 0;
}

h1 {
	padding: 0;
	margin: 0;
	color: #ff9900;
	font-size: 1.5em;
	font-weight: normal;
	margin-bottom: 5px;
}

h2 {
	padding: 0;
	margin: 0;
	color: #661700;
	font-size: 1.2em;
	font-weight: bold;
}

h3 {
	padding: 0;
	margin: 0;
	color: #661700;
	font-size: 1.0em;
	font-weight: bold;
}

#toonaccommodatie_kopteksten h1 {
	padding: 0;
	margin: 0;
	color: #ff9900;
	font-size: 1.2em;
	font-weight: bold;
}

form {
	margin:0;
}

#wrapper {
	width: 990px;
	background-color: #ffffff;
	margin-left: auto;
	margin-right: auto;
}

#top {

}

#submenu_table {
	margin-left: auto;
	margin-right: auto;
}

#submenu {
	color: #999999;
	padding-top: 3px;
	padding-bottom: 3px;
	font-size: 0.85em;
}

#submenu a {
	color: #999999;
	font-weight: normal;
}

#submenu a:hover {
	color: #ff9900;
}

#logo {
	float: left;
	text-align: center;
	margin-left: 10px;
	margin-right: 10px;
}

#topfoto {
	float: right;
	margin-right: 10px;
}

#balkbovencontent {
	height: 20px;
}

#sgr_logo {
	float: right;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 5px;
}

#telefoonblok {
	position: absolute;
	top: 239px;
	margin-left: 10px;
	width: 196px;
	padding: 2px;
	background-color: #ff9900;
	color: #661700;
}

.telefoonblokhover {
	cursor: pointer;
}

#telefoonblok_nummer {
	padding-top: 2px;
	font-size: 1.2em;
	color: #ffffff;
}

#telefoonblok_nummer img {
	margin-left: 18px;
	margin-right: 10px;
}

#telefoonblok_open {
	padding-top: 2px;
	padding-bottom: 1px;
	font-size: 0.7em;
	text-align: center;
}

#bekekenbewaard {
	margin-left: 30px;
	font-size: 0.8em;
	text-align: left;
	float: left;
}

#meldingen {
	font-size: 0.85em;
	float: right;
}

#meldingen a {
	color: #661700;
	font-weight: normal;
}

#meldingen a:hover {
	color: #ff9900;
}

#menubalk {
	margin-top: 20px;
}

#lijn {
	margin-top: 5px;
	margin-bottom: 5px;
	height: 5px;
	background-color: #ff9900;
}

#hoofdmenu {
	font-size: 1.1em;
	font-weight: normal;
	height: 20px;
	background-color: #ff9900;
	color: #ffffff;
	text-align: center;
}

#hoofdmenu a {
	color: #ffffff;
	text-decoration: none;
}

#hoofdmenu a:hover {
	color: #661700;
}

.hoofdmenu_actief {
	color: #661700;
}

.hoofdmenuspacer {
	color: #ffffff;
}

#kleinelogos {
	float: right;
	margin-top: 7px;
	margin-right: 5px;
}

#content {

}

#contentvolledig {
	margin-left: 30px;
	margin-right: 5px;
	padding-bottom: 3px;
}

#bloklinks_blok {
	float: left;
	width: 200px;
	z-index: 0;
	margin-top: 40px;
	margin-right: 10px;
	margin-left: 10px;
}

#bloklinks {
	width: 200px;
	margin-left: auto;
	margin-right: auto;
}

.zoekenboek_tekst {
	font-style: italic;
}

.bloklinks_kop {
	color: #661700;
	font-size: 1.4em;
	font-weight: normal;
}

.laatstbekeken_favorieten {
	border: 1px solid #661700;
	background-color: #ffffff;
	text-align: center;
	margin-bottom: 10px;
	width: 168px;
}

.laatstbekeken_favorieten a {
	display: block;
	text-decoration: none;
}

#zoekenboek_overlay {
	position: absolute;
	top: 298px;
	margin-left: 25px;
	width: 170px;
	height: 255px;
	z-index: 2;
	background-color: #ffffff;
}

#zoekenboek_leeg {
	width:170px;
	height:255px;
}

#zoekenboek_overlay select {
	width: 170px;
	margin: 0;
}

#zoekenboek_overlay .tekstzoeken {
	width: 165px;
}

#zoekenboek_overlay input {
	margin: 0;
}

#zoekenboek_overlay .zoekenboek_invulveld {
	margin-bottom: 11px;
}

#zoekenboek_aanbiedingen {
	width: 196px;
	border: 2px solid #ff9900;
	background-color: #e0d1cc;
	margin-left: -15px;
	margin-top: 4px;
}

#zoekenboek_aanbiedingen_kop {
	color: #ffffff;
	background-color: #ff9900;
	font-size: 1.2em;
	font-weight: bold;
	padding: 3px;
}

.bloklinksrechts_kop {
	color: #661700;
	font-size: 1.4em;
	font-weight: normal;
}

.zoekenboek_kop {
	margin-bottom: 8px;
}

#breadcrumbbalk {
	height: 20px;
	margin-right: 5px;
}

#breadcrumb_wrapper {
	width: 970px;
	background-color: #ffffff;
	margin-left: 0;
	margin-right: auto;
}

#breadcrumb_overlay {
	position: absolute;
	top: 238px;
	margin-left: 221px;
	width: 735px;
	height: 20px;
	z-index: 2;
	font-size: 0.8em;
}

#directnaar {
	text-align:left;
	padding-bottom: 5px;
}

#directnaar_kop {
	padding-bottom: 3px;
}

#directnaar a {

}

#directnaar ul {
	padding-left: 1px;
}

#contactgegevens {
	font-size: 0.85em;
	text-align: right;
	margin-bottom: 3px;
}

#koptekst_rechts {
	float: left;
}

#contentrechts {
	float: left;
	width: 760px;
}

.overlay_foto {
	position:relative;
	cursor: pointer;
	color: #ffffff;
}

.overlay_foto:hover {
	color: #661700;
}

#blokaccommodatie {
	padding: 10px;
	min-height: 120px;
	padding-left: 10px;
}

#blokaccommodatie_overlay {
	position: absolute;
	bottom: 0px;
	left: 0px;
	height: 33px;
	width: 176px;
	text-align: center;
	padding: 2px;
	padding-top: 4px;
	background: url('../pic/fotoslider/transparent-bg.png');
	font-size: 0.9em;
	font-weight: normal;
}

#blokaccommodatie .overlay_foto:hover {
	color: #ffd38f;
}

#cookie_bottombar a {
	color: #ffd38f;
}

#cookie_bottombar_close {
	color: #ffd38f;
}

#hoofdpagina_nieuwsbrief {
	float: right;
	width: 190px;
	background-color: #ffd38f;
	padding-left: 5px;
	padding-right: 5px;
	color: #661700;
	margin-bottom: 15px;
	height: 124px;
}

#hoofdpagina_nieuwsbrief .kop {
	color: #661700;
	font-size: 1.2em;
	padding-top: 5px;
	padding-bottom: 5px;
}

.button {
	width: 168px;
	font-size: 0.9em;
	background-color: #ffd38f;
	border: 1px solid #ffd38f;
	color: #661700;
	cursor: pointer;
	text-align: center;
	padding-top:6px;
	height: 20px;
	margin-top: 10px;
}

.button:hover {
	border: 1px solid #ff9900;
}

.button_accpagina {
	background-color: #ffd38f;
	border: 1px solid #ffd38f;
	color: #661700;
}

.button_accpagina:hover {
	border: 1px solid #ff9900;
}

.redbutton {
	background-color: #0295c8;
	border: 1px solid #0295c8;
	color: #ffffff;
	height: 30px;
}

.redbutton:hover {
	border: 1px solid #ff9900;
	color: #ffd38f;
}

#toonaccommodatie_boekbalk_bovenkant {
	min-height: 208px;
}

.redtext {
	color: #ff9900;

}

.onlyprint {
	display: none;
	height: 0px;
}

.tarieventabel {
	font-size: 0.8em;
}

.tarieventabel th {
	color: #661700;
	font-size: 1.3em;
}

.tarieventabel td {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.9em;
	padding: 2px;
}

.tarieventabel .afwijkingenaankomstdatum {
	font-size: 1.1em;
}

.tarieventabel .onderste_regel {
	font-size: 1.2em;
}

.tarieventabel .onderste_regel a {
	color: #661700;
}

.tarieventabel .onderste_regel a:hover {
	color: #ff9900;
}

.img-swap {
	border: 0px;
}

.sunnycar_banner {
	border:1px solid #ff9900;
	margin-top:0px;
	cursor:pointer;
	margin-right:5px;
}

.sunnycar_banner:hover {
	border:1px solid #5f227b;
}

#landkaartklikbaar {
	margin-top: 20px;
	margin-left: 0px;
}

#landkaartklikbaar h2 {
	margin-left: 0px;
	margin-bottom: 10px;
}

#landkaartklikbaar_kaart {
	float: left;
	margin-left:0px;
}

#landkaartklikbaar_namen {
	margin-left: 40px;
	margin-top: 50px;
	float: left;
	text-align: left;
}

#landkaartklikbaar_namen .landnaam {
	margin-bottom: 10px;
}

#landkaartklikbaar_info {
	margin-left: 0px;
	margin-bottom: -5px;
	height: 30px;
	font-size: 1.2em;
}

.nomaphref {
	cursor: default;
}


#tabs {
	margin-top: 20px;
}

.flexalternatieven {
	border: 1px solid #ff9900;
	margin-top:10px;
	margin-bottom:10px;
	padding:5px;
	width:678px;
	background-color: #ffd38f;
}

.flexalternatieven a:hover {
	color: #ffffff;
}

#terugnaarboven {
	text-align: right;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 0.85em;
}

#colofon_wrapper {
	width: 990px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 20px;
	background-color: #ffffff;
}

#colofon {
	background-color: #661700;
	height: 17px;
	text-align: center;
	padding-top: 3px;
	color: #ffffff;
	font-size: 0.85em;
}

#colofon a {
	color: #ffffff;
	text-decoration: none;
}

#colofon a:hover {
	color: #ff9900;
}

#ondercolofon {
	font-size: 0.8em;
	margin-top: 3px;
	margin-bottom: 6px;
	width: 990px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
#ondercolofon_nieuw {
	font-size: 0.8em;
	margin-top: 3px;
	margin-bottom: 6px;
	width: 72%;
}
#ondercolofon_nieuw a {
	text-decoration:none;
}
#ondercolofon_nieuw a:hover {
	color: #ff9900;
}

#ondercolofon a {
	color: #999999;
}

#ondercolofon a:hover {
	color: #ff9900;
}

#laatstbekeken {
	float: left;
	margin-top: 30px;
	background-color: #ffd38f;
	width: 760px;
}

#laatstbekeken .kop {
	color: #661700;
	font-size: 1.2em;
	margin-top: 8px;
	margin-bottom: 8px;
}

#laatstbekeken_acc_wrapper {
	margin-left: auto;
	margin-right: auto;
	width: 690px;
}

.laatstbekeken_acc {
	float: left;
	width: 150px;
	text-align: left;
	cursor: pointer;
	font-size: 0.8em;
	color: #661700;
}

.laatstbekeken_acc img {
	width: 150px;
}

.laatstbekeken_img_div {
	min-height: 115px;
}

.laatstbekeken_tekst {

}

.laatstbekeken_tekst_hover {
	color: #ff9900;
}

.laatstbekeken_divider {
	float: left;
	width: 30px;
}

#laatstbekeken_volledigelijst {
	text-align: right;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-top: 5px;
}

#blogverwijzing {
	margin-top: 20px;
}

#blogverwijzing hr {
	color: #ffd38f;
	background-color: #ffd38f;
	height: 2px;
	border: 0px;
}

#blogverwijzing h1 {
	font-size: 1.0em;
	font-weight: bold;
}

#bekijkflexibel {
	background-color: #ffa73f;
	margin-top: 10px;
	border: 1px solid #661700;
}

.aanbiedingtabel {
	border: 1px solid #661700;
}

.aanbiedingtabel th {
	border: 0px;
	padding: 6px;
}

.aanbiedingtabel td {
	border: 0px;
	padding: 6px;
}

.gekleurdetekst {
	color: #ff9900;
}

#zoekblok {
	border: 2px solid #ff9900;
	background-color: #ffffff;
	width: 676px;
}

.option_land {
	background-color: #ff9900;
	color: #661700;
}

.option_regio {
	font-weight: normal;
	color: #000000;
}

.chzn-container-active .chzn-single, .chzn-container-single .chzn-drop {
	border-color: #ff9900;
}

#zoekblok input[name='fzt']:focus {
	border-color: #ff9900;
}

.zoekblok_aankomstdatum_calendar {
	cursor: pointer;
	margin-bottom: 5px;
	margin-right: 10px;
}

.zoekblok_aankomstdatum select[name=fadf_d] {
	width: 4em;
}

.zoekblok_aankomstdatum select[name=fadf_m] {
	width: 10em;
}

.zoekblok_aankomstdatum select[name=fadf_y] {
	width: 7em;
}

#geenresultaten {
	border: 2px solid #ff9900;
	width: 656px;
}

.zoekresultaten_paginas a {
	background-color: #ffd38f;
	border: 1px solid #ff9900;
	color: #661700;
}

.zoekresultaten_paginas_active {
	background-color: #ff9900;
	border: 1px solid #ff9900;
	color: #ffffff;
}

.zoekresultaten_paginas a:hover {
	background-color: #ff9900;
	color: #ffffff;
}

.zoekresultaten_aantalgevonden {
	background-color: #ffd38f;
	color: #661700;
}

#zoekresultaten_sorteer {
	margin-top: 10px;
}

#zoekresultaten_sorteer a {
	color: #661700;
}

#zoekresultaten_sorteer .active {
	color: #661700;
}

#zoekresultaten_sorteer a:hover {
	color: #ff9900;
}

#zoekresultaten_sorteer #zoekresultaten_sorteer_tekst {
	background-color: #ffffff;
	color: #000000;
}

.zoekresultaten_opmerking_tussen_resultaten {
	background-color: #ffd38f;
	color: #661700;
}

.zoekresultaat {
	border: 1px solid #ffd38f;
}

.zoekresultaat:hover {
	border: 1px solid #661700;
}

#hulp_zoekresultaat_hover {
	color: #661700;
}

.zoekresultaat_type {
	border-left: 1px solid #ffd38f;
	border-right: 1px solid #ffd38f;
	border-bottom: 1px solid #ffd38f;
}

.zoekresultaat_type_een_resultaat {
	border-top: 1px solid #ffd38f;
}

.zoekresultaat_titel {
	color: #661700;
}

.zoekresultaat_locatie {
	color: #661700;
}

.zoekresultaat_top {
	background-color: #ffd38f;
}

.zoekresultaat_omschrijving {
	color: #661700;
}

.zoekresultaat_prijs_vanaf {
	color: #661700;
}

.zoekresultaat_prijs_periode {
	color: #661700;
}

.zoekresultaat_prijs_bedrag {
	color: #661700;
}

.zoekresultaat_prijs_per {
	color: #661700;
}

.zoekresultaat_aanbieding {
	color: #661700;
}

.zoekresultaat_type_aanbieding {
	color: #661700;
}

.zoekresultaat_type_prijs_aanbieding {
	color: #661700;
}

.zoekresultaat_prijs_bedrag_aanbieding {
	color: #661700;
}

#footerWrap{
	width:100%;
	background-color:#FFFFFF;
	font-size:11px;
	color:#661700;
}

#footerWrap table{
	border-top-color:#661700;
}

.noIND{
	width:100%;
}
.noIND td{
	width:200px;
	border:0px;
	border-color:black;
	border-style: solid;
	text-align:center;
	top:0px;
}
.IND{
	width:100%;
}
.divSepIND{
	float:left;
	padding-left:10px;
	height:200px;;
	width:198px;
	background-color:#e0d1cc;
}

.divSepIND li{
	background-image: url(../pic/li_img_italissima_footer.png);
	background-position: 0px 3px;
  	background-repeat: no-repeat;
  	padding-left: 10px;
  	list-style: none;
}

.divSepIND a{
	text-decoration:none;
}


.divSepIND a:hover{
	text-decoration:underline;
}
.divSepIND{
	float:left;
	padding-left:20px;
	height:200px;;
	width:190px;
	background-color:#e0d1cc;
}

.wrap{
	float:left;
	position:relative;
	left:25px;
	width:650px;
	border:0px;
	border-color:black;
	border-style: solid;
}

.divContentIND li{
	background-image: url(../pic/li_img_italissima_footer.png);
	background-position: 0px 3px;
  	background-repeat: no-repeat;
  	padding-left: 10px;
  	list-style: none;
}

.divContentIND{
	float:left;
	padding-left:15px;
}

.divContentIND a{
	text-decoration:none;
}
.divContentIND a:hover{
	text-decoration:underline;
}

.padnoIND{
	padding-left:10px;
}



.opvalblok {
	background-color: #ff9900;
	margin-bottom: 12px;
	padding-top: 4px;
	cursor: pointer;
	color: #ffffff;
}

.opvalblok:hover {
	background-color: #ffd38f;
	color: #661700;
}

.opvalblok img {
	 width:200px;
}

.opvalblok_regel1 {
	padding-left: 5px;
	padding-right: 5px;
	font-size: 10pt;
	font-weight: bold;
	width: 185px;
	white-space: nowrap;
	overflow: hidden;
}

.opvalblok_regel2 {
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 4px;
	font-size: 9pt;
	overflow: hidden;
	width: 180px;
	white-space: nowrap;
	overflow: hidden;
}

.opvalblok_regel3 {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 190px;
	padding-bottom: 7px;
	padding-top: 7px;
	padding-left: 5px;
	padding-right: 5px;
	font-size: 10pt;
	font-weight: bold;
	color: #ffffff;
	background: url('../pic/fotoslider/transparent-bg.png');
	white-space: nowrap;
	overflow: hidden;
}


/*per pagina*/


/*nieuwsbrief*/
#nieuwsbrief_vulin {
	border:1px solid #ffd38f;
}

@media print {

	body {
		background-color: white;
	}

	#wrapper {
		width: 100%;
		margin: 0px;
		padding: 0px;
	}

	#contentrechts {

	}

	#menubalk {
		display: none;
	}

	#submenu {
		display: none;
	}

	.noprint {
		display: none;
		height: 0px;
	}

	.onlyprint {
		display: inline;
	}

	#menubalk_print {
		position: absolute;
		top: 10px;
		right: 0px;
		text-align: right;
	}

	a {
		text-decoration: none;
	}
}
