
html {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.8em;
	overflow-y: scroll;
}

body {
	margin:0;
	padding:0;
	background-color: #f3f3f3;
}

a {
	color: #5f227b;
}

a:hover {
	color: #636f07;
}

a:active, a:focus {
	outline: 0;
}

h1 {
	padding: 0;
	margin: 0;
	color: #5f227b;
	font-size: 1.5em;
	font-weight: normal;
	margin-bottom: 5px;
}

h2 {
	padding: 0;
	margin: 0;
	color: #5f227b;
	font-size: 1.2em;
	font-weight: bold;
}

#toonaccommodatie_kopteksten h1 {
	padding: 0;
	margin: 0;
	color: #5f227b;
	font-size: 1.2em;
	font-weight: bold;
}

h3 {
	padding: 0;
	margin: 0;
	color: #000000;
	font-size: 1.0em;
	font-weight: bold;
}

form {
	margin:0;
}

#wrapper {
	width: 970px;
	background-color: #ffffff;
	margin-left: auto;
	margin-right: auto;
}

#top {
	text-align: center;
}

#topfoto {
	height: 190px;
	position:relative;
}

#balkbovencontent {
	height: 20px;
	margin-right: 5px;
}

#telefoonblok {
	margin-top: -20px;
	margin-left: 15px;
	margin-bottom: 10px;
	width: 164px;
	padding: 2px;
	border: 1px solid #cbd328;
	background-color: #cbd328;
	color: #5f227b;
}

#telefoonblok:hover {
	border: 1px solid #5f227b;
}

.telefoonblokhover {
	cursor: pointer;
}

#telefoonblok_nummer {
	padding-top: 2px;
	font-size: 1.2em;
}

#telefoonblok_nummer img {
	margin-right: 5px;
}

#telefoonblok_open {
	padding-top: 2px;
	padding-bottom: 1px;
	font-size: 0.7em;
	text-align: center;
}

#breadcrumbbalk {
	height: 20px;
	margin-right: 5px;
}

#breadcrumb_wrapper {
	width: 970px;
	background-color: #ffffff;
	margin-left: auto;
	margin-right: auto;
}

#breadcrumb_overlay {
	position:absolute;
	top: 247px;
	margin-left: 212px;
	width: 735px;
	height: 20px;
	z-index:2;
	font-size: 0.8em;
}

#bekekenbewaard {
	float: left;
	margin-left: 15px;
	font-size: 0.8em;
	text-align: left;
}

#meldingen {
	float: right;
	font-size: 0.85em;
}

#meldingen a {
	color: #5f227b;
	font-weight: normal;
}

#meldingen a:hover {
	color: #cbd328;
}

#menubalk {

}

#submenu {
	color: #999999;
	padding-top: 3px;
	padding-bottom: 3px;
	font-size: 0.85em;
}

#submenu a {
	color: #999999;
	font-weight: normal;
}

#submenu a:hover {
	color: #cbd328;
}

#hoofdmenu {
	font-size: 1.1em;
	height: 20px;
	background-color: #5f227b;
	color: #cfbcd8;
}

#hoofdmenu a {
	color: #cfbcd8;
	text-decoration: none;
	font-weight: normal;
}

#hoofdmenu a:hover {
	color: #cbd328;
}

.hoofdmenu_actief {
	color: #ffffff;
}

.hoofdmenuspacer {
	color: #ffffff;
}

#content {

}

#contentvolledig {
	margin-left: 15px;
	margin-right: 5px;
	padding-bottom: 3px;
}

#bloklinks {
	float: left;
	width: 185px;
	margin-left: 0px;
	margin-right: 5px;
}

#zoekenboek {
	width: 170px;
	margin-left: 15px;
	margin-bottom: 16px;
	margin-top: 12px;
}

#zoekenboek .zoekenboek_invulveld {
	margin-bottom: 10px;
}

#zoekenboek .tekstzoeken {
	width: 165px;
}

#zoekenboek select {
	width: 170px;
	margin: 0;
}

#zoekenboek input {
	margin: 0;
}

#zoekenboek_aanbiedingen {
	width: 178px;
	border: 2px solid #fb6703;
	margin-left: -10px;
}

#zoekenboek_aanbiedingen_kop {
	color: #ffffff;
	background-color: #fb6703;
	font-size: 1.2em;
	font-weight: bold;
	padding: 3px;
}

.bloklinksrechts_kop {
	color: #5f227b;
	font-size: 1.4em;
	font-weight: normal;
}

#contentrechts {
	float: left;
	width: 760px;
	margin-left: 20px;
}

#blokaccommodatie {
	padding: 10px;
	height: 120px;
	padding-left: 15px;
	margin-top: 20px;
}

#blokaccommodatie_overlay {
	position: absolute;
	bottom: 0px;
	left: 0px;
	height: 33px;
	width: 156px;
	text-align: center;
	padding: 2px;
	padding-top: 4px;
	background: url('../pic/fotoslider/transparent-bg.png');
	font-size: 0.9em;
	font-weight: normal;
}

#linkerbalk_overlay {
	position: absolute;
	top: 223px;
	margin-left: auto;
	padding-left: 3px;
	background-color: #ffffff;
	margin-top: 30px;
}

#cookie_bottombar a {
	color: #cfbcd8;
}

#cookie_bottombar_close {
	color: #cfbcd8;
}

#grizzly {
	width:970px;
	margin-left:auto;
	margin-right:auto;
	font-size:0.8em;
	margin-top:3px;
	padding-bottom:3px;
	text-align:center;
}

#grizzly a {
	color: #999999;
}

#grizzly a:hover {
	color: #cbd328;
}

.overlay_foto {
	position:relative;
	cursor: pointer;
	color: #ffffff;
}

.overlay_foto:hover {
	color:#cbd328;
	text-decoration: underline;
}

.button {
	width: 168px;
	font-size: 0.9em;
	background-color: #cbd328;
	border: 1px solid #cbd328;
	color: #ffffff;
	cursor: pointer;
	text-align: center;
	padding-top:6px;
	height: 20px;
	margin-top: 10px;
}

.button:hover {
	border: 1px solid #5f227b;
}

.button_accpagina {
	background-color: #cbd328;
	border: 1px solid #cbd328;
	color: #ffffff;
}

.button_accpagina:hover {
	border: 1px solid #5f227b;
}

.redbutton {
	background-color: #fb6703;
	border: 1px solid #fb6703;
	color: #ffffff;
	height: 30px;
}

.redbutton:hover {
	border: 1px solid #5f227b;
	color: #5f227b;
}

#toonaccommodatie_boekbalk_bovenkant {
	min-height: 211px;
}

.redtext {
	color: #cbd328;

}

.onlyprint {
	display: none;
	height: 0px;
}

.tarieventabel {
	font-size: 0.8em;
}

.tarieventabel th {
	font-size: 1.3em;
}

.tarieventabel td {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.9em;
	padding: 2px;
}

.tarieventabel .afwijkingenaankomstdatum {
	font-size: 1.1em;
}

.tarieventabel .onderste_regel {
	font-size: 1.2em;
}

.tarieventabel .onderste_regel a {
	color: #ffffff;
}

.tarieventabel .onderste_regel a:hover {
	color: #cbd328;
}

#tabs {
	margin-top: 20px;
}

.flexalternatieven {
	border:2px solid #5f227b;
	margin-top:10px;
	margin-bottom:10px;
	padding:5px;
	width:676px;
	background-color:#cfbcd8;
}

.flexalternatieven a:hover {
	color: #ffffff;
}

#colofon {
	background-color: #cbd328;
	padding-top: 3px;
	height: 17px;
	margin-top: 5px;
	text-align: center;
	color: #5f227b;
	font-size: 0.85em;
}

#colofon a {
	color: #5f227b;
	text-decoration: none;
}

#colofon a:hover {
	color: #000000;
}

#colofon b {
	color: #5f227b;
}

#terugnaarboven {
	text-align: right;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 0.85em;
}

.img-swap {
	border: 0px;
}

.whitehover a:hover {
	color:#ffffff;
}

.sunnycar_banner {
	border:1px solid #cbd328;
	margin-top:0px;
	cursor:pointer;
	margin-right:5px;
}

.sunnycar_banner:hover {
	border:1px solid #5f227b;
}

#landkaartklikbaar {
	margin-top: 35px;
	margin-left: -200px;
}

#landkaartklikbaar h2 {
	margin-left: 200px;
	margin-bottom: 10px;
}

#landkaartklikbaar_kaart {
	float: left;
}

#landkaartklikbaar_namen {
	margin-left: 40px;
	margin-top: 50px;
	float: left;
	text-align: left;
}

#landkaartklikbaar_namen .landnaam {
	margin-bottom: 10px;
	font-size: 0.8em;
}

#landkaartklikbaar_info {
	margin-left: 200px;
	margin-bottom: -5px;
	height: 30px;
	font-size: 1.2em;
}

.nomaphref {
	cursor: default;
}

#bekijkflexibel {
	background-color:#ffa73f;
	margin-top:10px;
}

#laatstbekeken {
	float: left;
	margin-top: 30px;
	background-color: #eff2be;
	width: 755px;
}

#laatstbekeken .kop {
	color: #5f227b;
	font-size: 1.2em;
	margin-top: 8px;
	margin-bottom: 8px;
}

#laatstbekeken_acc_wrapper {
	margin-left: auto;
	margin-right: auto;
	width: 690px;
}

.laatstbekeken_acc {
	float: left;
	width: 150px;
	text-align: left;
	cursor: pointer;
	font-size: 0.8em;
	color: #5f227b;
}

.laatstbekeken_acc img {
	width: 150px;
}

.laatstbekeken_img_div {
	min-height: 115px;
}

.laatstbekeken_tekst {

}

.laatstbekeken_tekst_hover {
	color: #5f227b;
}

.laatstbekeken_divider {
	float: left;
	width: 30px;
}

#laatstbekeken_volledigelijst {
	text-align: right;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-top: 5px;
}

#omschrijving_afgebrokendeel {
	display: none;
}

.omschrijving_openklappen {
	display: block;
	text-align: right;
	height: 10px;
	margin-top: 0px;
}

#geenresultaten {
	border: 2px solid #5f227b;
}

.zoekresultaten_paginas a {
	background-color: #cfbcd8;
	border: 1px solid #5f227b;
	color: #5f227b;
}

.zoekresultaten_paginas_active {
	background-color: #5f227b;
	border: 1px solid #5f227b;
	color: #ffffff;
}

.zoekresultaten_paginas a:hover {
	background-color: #5f227b;
	color: #ffffff;
}

.zoekresultaten_aantalgevonden {
	background-color: #cfbcd8;
	color: #5f227b;
}

#zoekresultaten_sorteer {
	margin-top: 10px;
}

#zoekresultaten_sorteer a {
	color: #5f227b;
}

#zoekresultaten_sorteer .active {
	color: #5f227b;
}

#zoekresultaten_sorteer a:hover {
	color: #636f07;
}

#zoekresultaten_sorteer #zoekresultaten_sorteer_tekst {
	background-color: #ffffff;
	color: #000000;
}

.zoekresultaten_opmerking_tussen_resultaten {
	background-color: #cfbcd8;
	color: #5f227b;
}

.zoekresultaat {
	border: 1px solid #cfbcd8;
}

.zoekresultaat:hover {
	border: 1px solid #5f227b;
}

#hulp_zoekresultaat_hover {
	color: #5f227b;
}

.zoekresultaat_type {
	border-left: 1px solid #cfbcd8;
	border-right: 1px solid #cfbcd8;
	border-bottom: 1px solid #cfbcd8;
}

.zoekresultaat_type_een_resultaat {
	border-top: 1px solid #cfbcd8;
}

.zoekresultaat_titel {
	color: #5f227b;
}

.zoekresultaat_locatie {
	color: #5f227b;
}

.zoekresultaat_top {
	background-color: #cfbcd8;
}

.zoekresultaat_omschrijving {
	color: #5f227b;
}

.zoekresultaat_prijs_vanaf {
	color: #5f227b;
}

.zoekresultaat_prijs_periode {
	color: #5f227b;
}

.zoekresultaat_prijs_bedrag {
	color: #5f227b;
}

.zoekresultaat_prijs_per {
	color: #5f227b;
}

.zoekresultaat_aanbieding {
	color: #636f07;
}

.zoekresultaat_type_aanbieding {
	color: #636f07;
}

.zoekresultaat_type_prijs_aanbieding {
	color: #636f07;
}

.zoekresultaat_prijs_bedrag_aanbieding {
	color: #636f07;
}


/* Per pagina */


.bestemmingen_regio {
	display: block;
	width: 170px;
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
	color: #ffffff;
	text-decoration: none;
	text-align: center;
	cursor: pointer;
}

.bestemmingen_regio_kop {
	background-color: #cbd328;
	line-height: 1.4em;
	padding: 5px;
	font-size: 1.2em;
}

.bestemmingen_regio_kop h1 {
	color: #ffffff;
	margin: 0;
	font-size: 1.0em;
	font-weight: bold;
}

.bestemmingen_regio_kop_land_1 {
	background-color: #cdc101;
}

.bestemmingen_regio_kop_land_2 {
	background-color: #ded75a;
}

.bestemmingen_regio_kop_land_3 {
	background-color: #636f07;
}

.bestemmingen_regio_kop_land_4 {
	background-color: #a1a96a;
}

.bestemmingen_regio_kop_land_5 {
	background-color: #8a9345;
}

.bestemmingen_regio_foto {
	background-position: 0px 0px;
	background-repeat: no-repeat;
	width: 170px;
	height: 140px;
}

.bestemmingen_regio:hover {
	outline: 1px solid #5f227b;
	color: #5f227b;
}

.bestemmingen_regio:hover h1 {
	color: #5f227b;
}

/* TIJDELIJK!!!! */
/* TIJDELIJK!!!! */
/* TIJDELIJK!!!! */

#alpedhuzes {
	margin-top: 15px;
	border: 1px solid #cfbcd8;
}

#alpedhuzes:hover {
	cursor: pointer;
	border:1px solid #5f227b;
}


.opvalblok {
	background-color: #efeaee;
	margin-bottom: 12px;
	padding-top: 4px;
	cursor: pointer;
	color: #5f227b;
}

.opvalblok:hover {
	background-color: #5f227b;
	color: #ffffff;
}

.opvalblok img {
	 width:185px;
}

.opvalblok_regel1 {
	padding-left: 5px;
	padding-right: 5px;
	font-size: 9pt;
	font-weight: bold;
	width: 170px;
	white-space: nowrap;
	overflow: hidden;
}

.opvalblok_regel2 {
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 4px;
	font-size: 8pt;
	overflow: hidden;
	width: 180px;
	white-space: nowrap;
	overflow: hidden;
}

.opvalblok_regel3 {
	position:absolute;
	bottom: 0px;
	left:0px;
	width: 175px;
	padding-bottom: 7px;
	padding-top: 7px;
	padding-left: 5px;
	padding-right: 5px;
	font-size: 9pt;
	font-weight: bold;
	color: #ffffff;
	background: url('../pic/fotoslider/transparent-bg.png');
	white-space: nowrap;
	overflow: hidden;
}


@media print {

	body {
		background-color: white;
	}

	#wrapper {
		width: 100%;
		margin: 0px;
		padding: 0px;
	}

	#menubalk {
		display: none;
	}

	#submenu {
		display: none;
	}

	.noprint {
		display: none;
		height: 0px;
		width: 0px;
	}

	.onlyprint {
		display: inline;
	}

	#menubalk_print {
		padding-top: 20px;
		float: left;
	}

	a {
		text-decoration: none;
	}
}
