
.tarieventabel {
	width:690px;
	border: 0px;
}

#toonaccommodatie_content {
	float: left;
	width:730px;
}

.toonacctabel {
	width: 690px;
}

.selecteerbaarbedrag {

}

.tarieventabel_rondom {
	background-color: #ffffff;
}

.tarieventabel_arrow {
	cursor: pointer;
}

.tarieventabel_header {
	background-color: #666600;
	color: #ffffff;
	padding: 7px;
	font-weight: bold;
	margin-left: 22px;
	margin-right: 24px;
}

.tarieventabel_wrapper_zomer {

}

.tarieventabel_div {
	border: 1px solid #666600;
}

#toonaccommodatie_vallandry_spacer {
	height: 10px;
}

#toonaccommodatie_aanbieding {
	color: #666600;
}

#toonaccommodatie_kenmerken_2_beoordeling {
	color: #ffffff;
    background-color: #666600;
}

#toonaccommodatie_kenmerken_2_beoordelinglink a:hover {
	color: #6699cc;
}

#beoordeling_gemiddeldtotaaloordeel_cijfer {
	color: #ffffff;
    background-color: #666600;
}

.beoordeling_enquete {
	background-color: #b2cce5;
	border: 1px solid #666600;
}

.beoordeling_enquete_bovenbalk {
	background-color: #b2cce5;
}

.beoordeling_enquete_toelichting {
	border: 1px solid #666600;
}

.beoordeling_enquete_table {
	border: 1px solid #666600;
}

/**/
/*alle types van deze accommodatie*/
/**/

.alletypes_header {
	color: #666600;
}

.alletypes_type {
	background-color: #b2cce5;
	border-color: #b2cce5;
}

div.alletypes_type {
	border-color: #666600;
}

a.alletypes_type:hover {
	border-color: #666600;
}

div.alletypes_niet_beschikbaar {
	background-color: #cccccc;
}

a.alletypes_niet_beschikbaar {
	background-color: #cccccc;
	border-color: #cccccc;
}
