
h2 {
	color: #000000;
	font-size: 1.0em;
	margin-top: 10px;
}

.icon_googlemaps {
	padding: 0;
	margin-right: -2px;
	margin-left: 5px;
	margin-bottom: -8px;
	margin-top: -3px;
}

#toonaccommodatie_content {
	float: left;
	width: 710px;
}

#toonaccommodatie_boekbalk {
	margin-left: 30px;
	float: left;
	width: 170px;
}

#toonaccommodatie_foto {
	margin-right: 30px;
	float: left;
}

#toonaccommodatie_blauwelijn_links {
	height: 5px;
	background-color: #d5e1f9;
	width: 170px;
	margin-bottom: 15px;
}

#toonaccommodatie_blauwelijn_rechts {
	height: 5px;
	background-color: #d5e1f9;
	width: 170px;
	margin-bottom: 4px;
}

#toonaccommodatie_bovenbalk {

}

#toonaccommodatie_kopteksten {
	float: left;
	margin-top: 2px;
	width: 500px;
}

#toonaccommodatie_boekbalk {
	font-size: 0.8em;
}

.button {
	font-size: 1.1em;
}

#toonaccommodatie_bovenbalk ul {
	margin-left: 0;
	padding-left: 0;
	list-style: none;
}

#toonaccommodatie_bovenbalk li {
	color: #000000;
	margin: 0;
	padding: 0;
	padding-bottom: 8px;
}

#toonaccommodatie_boekbalk ul {
	margin-left: 0;
	padding-left: 0;
	list-style: none;
}

#toonaccommodatie_boekbalk li {
	color: #000000;
	margin: 0;
	padding: 0;
	padding-bottom: 9px;
}

#toonaccommodatie_kleinelinks {
	padding-top: 10px;
	text-align: center;
}

#toonaccommodatie_kenmerken {
	width: 502px;
	margin-top: 16px;
	border: 1px solid #003366;
	padding: 3px;
	margin-bottom: 5px;
}

#toonaccommodatie_kenmerken li {
	font-size: 0.9em;
	color: #747474;
}

#toonaccommodatie_kenmerken_1 {
	float: left;
	width: 245px;
}

#toonaccommodatie_kenmerken_2 {
	float: left;
	width: 245px;
	margin-left: 10px;
}

#toonaccommodatie_ookbeschikbaar {
	margin-top: 8px;
	margin-left: 200px;
}

#toonaccommodatie_aanbieding {
	float: right;
	margin-right: -10px;
	font-size: 0.7em;
	color: #d40139;
	text-decoration: none;
}

#toonaccommodatie_aanbieding img {
	margin-left: auto;
	margin-right: auto;
	display: block;
	border: 0px;
}

#toonaccommodatie_aanbieding:hover {
	opacity: 0.7;
	filter:alpha(opacity=70);
}

#laatstbekeken {
	margin-top: 30px;
	float: left;
	width: 711px;
}

#laatstbekeken_acc_wrapper {
	width: 674px;
}

.laatstbekeken_divider {
	width: 24px;
}

#ookbeschikbaarkeuze {
	width: 381px;
}

.ui-tabs .ui-tabs-panel {
	width:674px;
}

#toonaccommodatie_overzicht_fotos img {
	margin-right: 5px;
}

#reviews {
	margin-top:20px;
	border-top: 1px solid #000000;
}

#reviews h2 {
	margin-bottom: -10px;
}

.reviewblok {
	background-color: #ebebeb;
	border-top: 1px solid #000000;
	border-bottom: 1px solid #000000;
	margin-top: 18px;
	margin-bottom: 18px;
	padding: 10px;	
}

.reviewblok_datum {
	font-style: italic;
	margin-bottom: 4px;
	text-align: right;
}

.reviewblok_afbreken {
	max-height: 85px;
	overflow-y: hidden;
}

.reviewblok_afbreken_openklap {
	display: none;
	padding-top: 5px;
	text-align: right;
}

#mailfunctie {
	
}

@media print {
	#toonaccommodatie_content {
		float: left;
		width: 100%;
	}
	
	#toonaccommodatie_kopteksten {
		width: 400px;
	}
	
	#toonaccommodatie_kenmerken {
		width: 400px;	
	}

	#toonaccommodatie_kenmerken_2 {
		margin-left: 0px;
	}
	
	.ui-tabs .ui-tabs-panel {
		width:100%;
	}
	
	.toonacctabel {
		width: 100%;
	}
	
	.optietabelclass {
		font-size: 0.7em;	
	}
	
	.tarieventabel {
		width:100%;	
	}
}
