
#toonskigebied_splits_links {
	float: left;
	width: 550px;
	margin-right: 10px;
}

#toonskigebied_splits_rechts {
	float: right;
	width: 200px;
	min-height: 700px;
}

#toonskigebied_italissima_infoblok {
	color: #000000;
	padding: 10px;
	min-height: 200px;
}

#toonskigebied_italissima_infoblok img {
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
	width: 250px;
}

#beschrijving {
	display: none;
}

.ui-tabs .ui-tabs-panel {
	width: 512px;
}

.toonacctabel {
	width: 100%;
}

.skigebied_opvalblok {
	background-color: #ffd38f;
	margin-bottom: 20px;
	padding-top: 4px;
	cursor: pointer;
	color: #661700;
}

.skigebied_opvalblok:hover {
	background-color: #ff9900;
	color: #ffffff;
	text-decoration: none;
}

.skigebied_opval_regel1 {
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 4px;
	font-size: 9pt;
	font-weight: bold;
	width: 180px;
	white-space: nowrap;
	overflow: hidden;
}

.skigebied_opval_regel2 {
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 4px;
	font-size: 9pt;
	overflow: hidden;
	width: 180px;
	white-space: nowrap;
	overflow: hidden;
}

.skigebied_opval_regel3 {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 190px;
	padding-bottom: 7px;
	padding-top: 7px;
	padding-left: 5px;
	padding-right: 5px;
	font-size: 7pt;
	font-weight: normal;
	color: #ffffff;
	background: url('../pic/fotoslider/transparent-bg.png');
	white-space: nowrap;
	overflow: hidden;
	line-height: normal;
}

#skigebied_omschrijving_afgebrokendeel {
	display: none;
}

.skigebied_omschrijving_openklappen {
	display: block;
	text-align: right;
	height: 20px;
	margin-top: -10px;
}

#map_canvas {
	margin-top: 5px;
	margin-bottom: 10px;
	width: 510px;
	height: 400px;
	cursor: pointer;
	border: 1px solid #ff9900;
}

h3 {
	color: #661700;
	font-size: 1.0em;
	font-weight: normal;
}

.googlemaps_infowindow {
	width: 350px;
	min-width: 350px;
}

.googlemaps_infowindow .iright {
	width: 140px;
	overflow: hidden;
}

.googlemaps_infowindow .ileft {
	width: 206px;
}

#toonplaats_kenmerken_3 {
	width: 500px;
	margin-bottom:25px
}