
h2 {
	color: #000000;
	font-size: 1.0em;
	margin-top: 10px;
}

.icon_googlemaps {
	padding: 0;
	margin-right: -2px;
	margin-left: 5px;
	margin-bottom: -8px;
	margin-top: -3px;
}

#telefoonblok {
	margin-left: 0px;
}

#chatblok {
	margin-left: 0px;
}

#toonaccommodatie_content {
	float: left;
	width: 710px;
}

#toonaccommodatie_boekbalk {
	margin-left: 30px;
	float: left;
	width: 170px;
}

#toonaccommodatie_boekbalk_alletypes {
	margin-top:10px;
	border: 1px solid #003366;
	text-align:left;
	padding-left:3px;
}

.alletypes_header {
	text-align: center;
	font-weight: bold;
	font-size: 1.1em;
	color: #003366;
	margin-top: 3px;
}

.alletypes_item {
	margin-bottom: 10px;
	margin-top: 10px;
	margin-right: 2px;
}

.alletypes_soort_accommodatie {
	margin-top: 20px;
	margin-bottom: 8px;
	font-style: italic;
	text-align: center;
}

.alletypes_type {
	display: block;
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	min-height: 35px;
	text-decoration: none;
}

.alletypes_aantalpersonen {
	float: left;
	box-sizing : border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	background: url(../pic/icons/icon-alletypes_1.png);
	background-size: 30px 35px;
	background-repeat: no-repeat;
	background-position: 0px 0px;
	text-align: center;
	width: 30px;
	height: 35px;
	padding-top: 18px;
	line-height: 9px;
	font-size: 9px;
	color: #ffffff;
}

.alletypes_typenaam {
	float: left;
	padding-left: 4px;
	vertical-align: middle;
}

#toonaccommodatie_foto {
	margin-right: 30px;
	float: left;
}

#toonaccommodatie_blauwelijn_links {
	height: 5px;
	background-color: #d5e1f9;
	width: 170px;
	margin-bottom: 15px;
}

#toonaccommodatie_blauwelijn_rechts {
	height: 5px;
	background-color: #d5e1f9;
	width: 170px;
	margin-bottom: 4px;
}

#toonaccommodatie_bovenbalk {

}

#toonaccommodatie_kopteksten {
	float: left;
	margin-top: 2px;
	width: 500px;
}

#toonaccommodatie_boekbalk {
	font-size: 0.8em;
}

.button {
	font-size: 1.1em;
}

#toonaccommodatie_kenmerken ul {
	margin-left: 0;
	padding-left: 0;
	list-style: none;
}

#toonaccommodatie_kenmerken li {
	color: #000000;
	margin: 0;
	padding: 0;
	padding-bottom: 8px;
}

#toonaccommodatie_boekbalk ul {
	margin-left: 0;
	padding-left: 0;
	list-style: none;
	margin-top: 10px;
}

#toonaccommodatie_boekbalk li {
	color: #000000;
	margin: 0;
	padding: 0;
	padding-bottom: 9px;
}

#toonaccommodatie_kleinelinks {
	text-align: center;
}

#toonaccommodatie_kenmerken {
	width: 502px;
	margin-top: 16px;
	border: 1px solid #003366;
	padding: 3px;
	margin-bottom: 5px;
}

#toonaccommodatie_kenmerken li {
	font-size: 0.9em;
	color: #747474;
}

#toonaccommodatie_kenmerken_1 {
	float: left;
	width: 245px;
}

#toonaccommodatie_kenmerken_2 {
	float: left;
	width: 245px;
	margin-left: 10px;
}

#toonaccommodatie_kenmerken_2 img {
	margin-top: -2px;
	margin-bottom: -3px;
}

#toonaccommodatie_kenmerken_klassering {
	display: block;
	color: #747474;
	width: 205px;
	text-decoration: none;
}

#toonaccommodatie_kenmerken_klassering img {
	float: left;
	display: block;
}

#toonaccommodatie_kenmerken_klassering_info {
	margin-left: 15px;
}

#toonaccommodatie_kenmerken_2_beoordeling {
	font-size: 1.3em;
	font-weight: bold;
	float: left;
	line-height: 2.2em;
	width: 31px;
	height: 36px;

	margin-top: -7px;
	margin-left: 2px;
	margin-bottom: -9px;
	padding-left: 5px;

	color: #003366;
    background-color: #d5e1f9;

	-webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    border-radius: 18px;
	behavior: url(/PIE.htc);
	position: relative;
}

#toonaccommodatie_kenmerken_2_beoordelinglink {
	float: left;
	color: #747474;
	margin-left: 0.5em;
	margin-right: -10px;
}

#toonaccommodatie_kenmerken_2_beoordelinglink a {
	color: #747474;
}

#toonaccommodatie_kenmerken_2_beoordelinglink a:hover {
	color: #d40139;
}

#toonaccommodatie_ookbeschikbaar {
	margin-top: 8px;
	margin-left: 200px;
}

#toonaccommodatie_aanbieding {
	float: right;
	margin-right: -10px;
	font-size: 0.7em;
	color: #d40139;
	text-decoration: none;
}

#toonaccommodatie_aanbieding img {
	margin-left: auto;
	margin-right: auto;
	display: block;
	border: 0px;
}

#toonaccommodatie_aanbieding:hover {
	opacity: 0.7;
	filter:alpha(opacity=70);
}

#laatstbekeken {
	margin-top: 30px;
	float: left;
	width: 711px;
}

#laatstbekeken_acc_wrapper {
	width: 674px;
}

.laatstbekeken_divider {
	width: 24px;
}

#ookbeschikbaarkeuze {
	width: 381px;
}

.ui-tabs .ui-tabs-panel {
	width:674px;
}

#toonaccommodatie_overzicht_fotos img {
	margin-right: 5px;
}

#reviews {
	margin-top:20px;
	border-top: 1px solid #000000;
}

#reviews h2 {
	margin-bottom: -10px;
}

.reviewblok {
	background-color: #ebebeb;
	border-top: 1px solid #000000;
	border-bottom: 1px solid #000000;
	margin-top: 18px;
	margin-bottom: 18px;
	padding: 10px;
}

.reviewblok_datum {
	font-style: italic;
	margin-bottom: 4px;
	text-align: right;
}

.reviewblok_afbreken {
	max-height: 85px;
	overflow-y: hidden;
}

.reviewblok_afbreken_openklap {
	display: none;
	padding-top: 5px;
	text-align: right;
}

#mailfunctie {

}

/* */
/*beoordelingen-popup*/
/* */

#beoordeling_wrapper {
	width: 774px;
	margin-left: auto;
	margin-right: auto;
}

#beoordeling_header {
	margin-bottom: 20px;
}

beoordeling_header_left {
	float: left;
}

beoordeling_header_right {
	float: right;
}

#beoordeling_header img {
	float: left;
	margin-right: 10px;
	display: block;
}

#beoordeling_gemiddeldtotaaloordeel_regel {
	margin-top: 15px;
}

#beoordeling_gemiddeldtotaaloordeel {
	font-size: 1.1em;
	margin-top: 10px;
	font-weight: bold;
	float: left;
}

#beoordeling_gemiddeldtotaaloordeel_cijfer {
	font-size: 1.3em;
	font-weight: bold;
	float: left;
	line-height: 2.1em;
	width: 32px;
	height: 36px;

    margin-left: 2px;
    margin-bottom: -8px;
    padding-left: 4px;

	color: #003366;
    background-color: #d5e1f9;

	-webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    border-radius: 18px;
	behavior: url(/PIE.htc);
	position: relative;
}

#beoordeling_aantalbeoordelingen {
	font-weight: normal;
	float: left;
	margin-left: 5px;
	margin-top: 10px;
}

.beoordeling_enquete {
	margin-bottom: 20px;
	background-color: #d5e1f9;
	border: 1px solid #003366;
	padding: 10px;
}

.beoordeling_enquete_bovenbalk {
	background-color: #d5e1f9;
	margin-bottom: 5px;
}

.beoordeling_enquete_cijfers {
	float: left;
	width: 370px;
}

.beoordeling_enquete_toelichting {
	float: right;
	width: 370px;
	border: 1px solid #003366;
	background-color: #ffffff;
	min-height: 116px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

.beoordeling_enquete_toelichting_wrapper {
	padding: 7px;
}

.beoordeling_enquete_table {
	border: 1px solid #003366;
	width: 100%;
}

.beoordeling_enquete_table .regel1 {
	background-color: #ffffff;
}

.beoordeling_enquete_table .regel2 {
	background-color: #ebebeb;
}

.beoordeling_enquete_table td {
	padding-left: 3px;
	padding-right: 3px;
	line-height: 1.5em;
}

@media print {
	#toonaccommodatie_content {
		float: left;
		width: 100%;
	}

	#toonaccommodatie_kopteksten {
		width: 400px;
	}

	#toonaccommodatie_kenmerken {
		width: 400px;
	}

	#toonaccommodatie_kenmerken_2 {
		margin-left: 0px;
	}

	.ui-tabs .ui-tabs-panel {
		width:100%;
	}

	.toonacctabel {
		width: 100%;
	}

	.optietabelclass {
		font-size: 0.7em;
	}

	.tarieventabel {
		width:100%;
	}
}
