
/*verfijnblok*/
#verfijn {
	border: 1px solid #ff9900;
	background-color: #ebe3e0;
	width: 237px;
	margin-left: -23px;
}

#verfijn .keuzes_kopjes {
	background-color: #ff9900;
}

#verfijn #verfijntopheader {
	color: #661700;
}

#verfijn .alle_selecties_wissen {
	border-top-color: #ff9900;
}

#telefoonblok {
	margin-left: 21px;
}

#bloklinks {
	width: 240px;
}

#contentrechts {
	margin-left: 45px;
	width: 700px;
}

#breadcrumb_overlay {
	margin-left: 266px;
}

#zoekresultatentable {
	width: 700px;
}

.div_met_border {
	border: 2px solid #ff9900;
}

#zoektabel {

}

#zoektabel hr {
	color: #ffd38f;
	background-color: #ffd38f;
	height: 1px;
	border: 0px;
}

#laatstbekeken {
	width: 715px;
}
