
#verfijn {
	padding-top: 5px;
	text-align: left;
	border: 2px solid #003366;
	background-color: #ffffff;
	width: 200px;
	margin-left: -6px;
}

.keuzes {
	font-size: 0.8em;
	line-height: 150%;
	padding-top: 0px;
}

.keuzes a:hover {
	color: #660066;
}

#verfijntopheader {
	text-align: left;
	color: #003366;
	font-weight: bold;
	padding-left: 10px;
}

.verfijnheader {
	text-align: left;
	margin-top: 10px;
	margin-bottom: 3px;
}

#bloklinks {
	width: 240px;
}

#contentrechts {
	margin-left: 40px;
	width: 700px;
	float: left;
}

#breadcrumb_overlay {
	margin-left: 246px;
}

#zoekresultatentable {
	width: 700px;
}

.div_met_border {
	border: 2px solid #e6007e;
}

#zoektabel {

}

#zoektabel hr {
	color: #a1bddb;
	background-color: #a1bddb;
	height: 1px;
	border: 0px;
}

.keuzes_kopjes {
	font-weight: bold;
	margin-top: 10px;
	color: #ffffff;
	background-color: #003366;
	text-align: left;
	padding-left: 10px;
	font-size: 1.1em;
}

.actieveselectie {
	color: #660066;
	font-weight: bold;
	padding-left: 10px;
}

.actieveselectie a {
	font-weight: normal;
}

.keuzeopsomming {
	padding-left: 10px;
}

.keuzeopsomming_leeg {
	padding-left: 10px;
	color: #777777;
}

#laatstbekeken {
	width: 715px;
}
