
/*verfijnblok*/
#verfijn {
	width: 186px;
	margin-left: -9px;
}

.laatstbekeken_favorieten {
	margin-left: 30px;
}

#bloklinks {
	width: 240px;
}

#contentrechts {
	width: 700px;
}

#zoektabel {

}

#zoektabel hr {
	color: #003366;
	background-color: #003366;
	height: 1px;
	border: 0px;
}

.bloklinks_blauwelijn {
	height: 1px;
	background-color: #ffffff;
	width: 170px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0px;
}

