
#linkerbalk_overlay {
	top: 273px;
}

#verfijn {
	padding-top: 5px;
	text-align: left;
	border: 2px solid #5f227b;
	background-color: #ffffff;
	width: 235px;
}

.keuzes {
	font-size: 0.8em;
	line-height: 200%;
	padding-top: 0px;
}

.keuzes a:hover {
	color: #cbd328;
}

#verfijntopheader {
	text-align: left;
	color: #5f227b;
	font-weight: bold;
	padding-left: 10px;
}

.verfijnheader {
	text-align: left;
	margin-top: 10px;
	margin-bottom: 3px;
}

#bloklinks {
	width: 240px;
}

#contentrechts {
	width: 700px;
}

#zoekresultatentable {
	width: 700px;
}

#zoektabel {

}

#zoektabel hr {
	color: #5f227b;
	background-color: #5f227b;
	height: 1px;
	border: 0px;
}

.keuzes_kopjes {
	font-weight: bold;
	margin-top: 10px;
	color: #ffffff;
	background-color: #5f227b;
	text-align: left;
	padding-left: 10px;
	font-size: 1.1em;
}

.actieveselectie {
	color: #5f227b;
	font-weight: bold;
	padding-left: 10px;
}

.actieveselectie a {
	font-weight: normal;
}

.keuzeopsomming {
	padding-left: 10px;
}

.keuzeopsomming_leeg {
	padding-left: 10px;
	color: #878481;
}

#laatstbekeken {
	width: 700px;
}

#laatstbekeken_acc_wrapper {
	width: 660px;
}

.laatstbekeken_divider {
	width: 20px;
}

#breadcrumb_overlay {
	margin-left: 266px;
	width: 700px;
}
