
/*verfijnblok*/
#verfijn {
	border: 1px solid #5f227b;
	background-color: #ffffff;
	width: 237px;
}

#verfijn .keuzes_kopjes {
	background-color: #5f227b;
}

#verfijn #verfijntopheader {
	color: #5f227b;
}

#verfijn .alle_selecties_wissen {
	border-top-color: #5f227b;
}

#telefoonblok {
	margin-left: auto;
	margin-right: auto;
}

#linkerbalk_overlay {
	top: 273px;
}

#bloklinks {
	width: 240px;
}

#contentrechts {
	width: 700px;
}

#zoekresultatentable {
	width: 700px;
}

#zoektabel {

}

#zoektabel hr {
	color: #5f227b;
	background-color: #5f227b;
	height: 1px;
	border: 0px;
}

#laatstbekeken {
	width: 700px;
}

#laatstbekeken_acc_wrapper {
	width: 660px;
}

.laatstbekeken_divider {
	width: 20px;
}

#breadcrumb_overlay {
	margin-left: 266px;
	width: 700px;
}
