AddType application/x-httpd-php .php .php3 .php4 .phtml .phpcache
php_flag magic_quotes_gpc off
php_value memory_limit 64M
php_value error_reporting 5111

AddDefaultCharset ISO-8859-1

# AddType voor PIE.htc
AddType text/x-component .htc

ErrorDocument 404 /404.php

#
# Geen enkele pagina tonen wegens werkzaamheden
#
#RewriteCond %{REQUEST_URI} !unavailable [NC]
#RewriteCond %{REQUEST_URI} !logo [NC]
#RewriteCond %{REQUEST_URI} !wt_phpmysqldump [NC]
#RewriteCond %{REQUEST_URI} !wtpma [NC]
#RewriteRule ^(.*)$ /unavailable.php


RewriteEngine On

#
# favicons
#

# zomerhuisje
RewriteCond %{HTTP_HOST} zomerhuisje [NC]
RewriteRule ^favicon.ico$ favicon_zomerhuisje.ico

# vallandry
RewriteCond %{HTTP_HOST} vallandry [NC]
RewriteRule ^favicon.ico$ favicon_vallandry.ico

# italissima
RewriteCond %{HTTP_HOST} italissima [NC]
RewriteRule ^favicon.ico$ favicon_italissima.ico

# superski
RewriteCond %{HTTP_HOST} superski [NC]
RewriteRule ^favicon.ico$ favicon_superski.ico

# venturasol
RewriteCond %{HTTP_HOST} venturasol [NC]
RewriteRule ^favicon.ico$ favicon_venturasol.ico

# http://ss.postvak.net/chalet/chalet/ doorsturen naar ss.postvak.net/chalet/
RewriteCond %{HTTP_HOST} ^ss\.postvak\.net [NC]
RewriteRule ^chalet/(.*)$ /chalet/$1 [R=301,L]

# /index.php doorsturen naar /
RewriteRule ^index\.php$ / [R=301,L]


# partner-venturasol: nog niet online
RewriteCond %{HTTP_HOST} partner\.venturasol\.nl [NC]
RewriteRule ^(.*)$ http://www.venturasol.nl/$1 [L,R=301]



#
# niet-https doorsturen naar https
#
RewriteCond %{HTTP_HOST} chalet\.eu [NC]
RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://www.chalet.eu/$1 [L,R=301]


#
# zonder www doorsturen naar met www
#
RewriteCond %{HTTP_HOST} chalet\.nl [NC]
RewriteCond %{HTTP_HOST} !^www[23]?\.chalet\.nl [NC]
RewriteCond %{HTTP_HOST} !^srv01\.chalet\.nl [NC]
RewriteCond %{HTTP_HOST} !^test\.chalet\.nl [NC]
RewriteCond %{REQUEST_URI} !google.*\.html [NC]
RewriteRule ^(.*)$ http://www.chalet.nl/$1 [L,R=301]

RewriteCond %{HTTP_HOST} wintersportaccommodaties\.nl [NC]
RewriteCond %{HTTP_HOST} !^www\.wintersportaccommodaties\.nl [NC]
RewriteCond %{REQUEST_URI} !google.*\.html [NC]
RewriteRule ^(.*)$ http://www.superski.nl/$1 [L,R=301]

RewriteCond %{HTTP_HOST} chalet\.eu [NC]
RewriteCond %{HTTP_HOST} !^www\.chalet\.eu [NC]
RewriteCond %{REQUEST_URI} !google.*\.html [NC]
RewriteRule ^(.*)$ https://www.chalet.eu/$1 [L,R=301]

RewriteCond %{HTTP_HOST} chalettour\.nl [NC]
RewriteCond %{HTTP_HOST} !^www\.chalettour\.nl [NC]
RewriteCond %{REQUEST_URI} !google.*\.html [NC]
RewriteRule ^(.*)$ http://www.chalettour.nl/$1 [L,R=301]

RewriteCond %{HTTP_HOST} chalet\.be [NC]
RewriteCond %{HTTP_HOST} !^www\.chalet\.be [NC]
RewriteCond %{REQUEST_URI} !google.*\.html [NC]
RewriteRule ^(.*)$ http://www.chalet.be/$1 [L,R=301]

RewriteCond %{HTTP_HOST} wintersportaccommodations\.eu [NC]
RewriteRule ^(.*)$ http://www.chalet.eu/ [L,R=301]

RewriteCond %{HTTP_HOST} zomerhuisje\.nl [NC]
RewriteCond %{HTTP_HOST} !^www\.zomerhuisje\.nl [NC]
RewriteCond %{REQUEST_URI} !google.*\.html [NC]
RewriteRule ^(.*)$ http://www.zomerhuisje.nl/$1 [L,R=301]

RewriteCond %{HTTP_HOST} zomerhuisje\.eu [NC]
RewriteCond %{HTTP_HOST} !^www\.zomerhuisje\.eu [NC]
RewriteCond %{REQUEST_URI} !google.*\.html [NC]
RewriteRule ^(.*)$ http://www.zomerhuisje.eu/$1 [L,R=301]

RewriteCond %{HTTP_HOST} chaletsinvallandry\.nl [NC]
RewriteCond %{HTTP_HOST} !^www\.chaletsinvallandry\.nl [NC]
RewriteCond %{REQUEST_URI} !google.*\.html [NC]
RewriteRule ^(.*)$ http://www.chaletsinvallandry.nl/$1 [L,R=301]

RewriteCond %{HTTP_HOST} chaletsinvallandry\.com [NC]
RewriteCond %{HTTP_HOST} !^www\.chaletsinvallandry\.com [NC]
RewriteCond %{REQUEST_URI} !google.*\.html [NC]
RewriteRule ^(.*)$ http://www.chaletsinvallandry.com/$1 [L,R=301]

RewriteCond %{HTTP_HOST} italissima\.nl [NC]
RewriteCond %{HTTP_HOST} !^www\.italissima\.nl [NC]
RewriteCond %{REQUEST_URI} !google.*\.html [NC]
RewriteRule ^(.*)$ http://www.italissima.nl/$1 [L,R=301]

RewriteCond %{HTTP_HOST} italissima\.be [NC]
RewriteCond %{HTTP_HOST} !^www\.italissima\.be [NC]
RewriteCond %{REQUEST_URI} !google.*\.html [NC]
RewriteRule ^(.*)$ http://www.italissima.be/$1 [L,R=301]

RewriteCond %{HTTP_HOST} superski\.nl [NC]
RewriteCond %{HTTP_HOST} !^www\.superski\.nl [NC]
RewriteCond %{REQUEST_URI} !google.*\.html [NC]
RewriteRule ^(.*)$ http://www.superski.nl/$1 [L,R=301]

#
# Spelfout-domeinnamen doorsturen naar de juiste domeinnaam
#
RewriteCond %{HTTP_HOST} italisima\.nl [NC]
RewriteRule ^(.*)$ http://www.italissima.nl/$1 [L,R=301]

RewriteCond %{HTTP_HOST} itallisima\.nl [NC]
RewriteRule ^(.*)$ http://www.italissima.nl/$1 [L,R=301]


# Facebook-fout (fb_xd_fragment) redirecten
RewriteCond %{QUERY_STRING} ^(.*)fb_xd_fragment=?[A-Za-z0-9]*&?(.*)$
RewriteRule (.*) /$1?%1%2 [R=301,L]

#
# WSA doorsturen naar SuperSki met 301-header
#
RewriteCond %{HTTP_HOST} wintersportaccommodaties\.nl [NC]
RewriteRule ^(.*)$ http://www.superski.nl/$1 [L,R=301]

# zomerhuisje.eu doorsturen naar zomerhuisje.nl (.eu is niet meer actief - 04-12-2012)
RewriteCond %{HTTP_HOST} zomerhuisje\.eu [NC]
RewriteRule ^(.*)$ http://www.zomerhuisje.nl/$1 [L,R=301]


#
# TIJDELIJK: www.italissima.be doorsturen naar italissima.nl
#
#RewriteCond %{HTTP_HOST} ^www\.italissima\.be [NC]
#RewriteCond %{REMOTE_ADDR} !^31\.223\.173\.113 [NC]
#RewriteCond %{REMOTE_ADDR} !^80\.101\.166\.235 [NC]
#RewriteCond %{REMOTE_ADDR} !^213\.125\.164\.74 [NC]
#RewriteCond %{REMOTE_ADDR} !^82\.93\.130\.238 [NC]
#RewriteCond %{REMOTE_ADDR} !^83\.85\.233\.238 [NC]
#RewriteRule ^(.*)$ http://www.italissima.nl/ [L,R=301]

RewriteRule groepsreizen\.php$ /zoek-en-boek.php [R=301,L]

RewriteRule ^thema/([A-Za-z0-9-]*)/?$ thema.php?thema=$1&%{QUERY_STRING}
RewriteRule ^wintersport/thema/([A-Za-z0-9-]*)/?$ thema.php?thema=$1&%{QUERY_STRING}
RewriteRule ^vakantiehuizen/thema/([A-Za-z0-9-]*)/?$ thema.php?thema=$1&%{QUERY_STRING}
RewriteRule ^theme/([A-Za-z0-9-]*)/?$ thema.php?thema=$1&%{QUERY_STRING}
RewriteRule ^winter-sports/theme/([A-Za-z0-9-]*)/?$ thema.php?thema=$1&%{QUERY_STRING}
RewriteRule ^holiday-homes/theme/([A-Za-z0-9-]*)/?$ thema.php?thema=$1&%{QUERY_STRING}
RewriteRule ^land/([A-Za-z0-9-]*)/?$ land.php?land=$1&%{QUERY_STRING}
RewriteRule ^country/([A-Za-z0-9-]*)/?$ land.php?land=$1&%{QUERY_STRING}


# XML-feeds
RewriteRule ^xml/(accommodations)\.xml.* xml/feed.php?feedtype=$1&%{QUERY_STRING}
RewriteRule ^xml/(accommodation-units)\.xml.* xml/feed.php?feedtype=$1&%{QUERY_STRING}
RewriteRule ^xml/(availability-and-prices)\.xml.* xml/feed.php?feedtype=$1&%{QUERY_STRING}

# Sitemap
RewriteCond %{HTTP_HOST} (chalet\.nl|chalet\.be|italissima\.nl|italissima\.be|postvak\.net) [NC]
RewriteRule ^sitemap.xml$ google-sitemap.php?%{QUERY_STRING}

# Videositemap
RewriteCond %{HTTP_HOST} (chalet\.nl|chalet\.be|italissima\.nl|italissima\.be|postvak\.net) [NC]
RewriteRule ^videositemap.xml$ videositemap.php?%{QUERY_STRING}

# Vallandry
RewriteRule ^chalets/([A-Za-z0-9-]*)/([A-Za-z0-9-]*)/?$ chalets.php?chaletpark=$1&seizoen=$2&%{QUERY_STRING}

# In Google Ads gebruikte URL's
RewriteRule wintersport/?$ / [R=301,L]


#
# Oude grizzly-links doorsturen
#
RewriteRule ^chalet/zomervakantie-oostenrijk\.htm$ http://www.zomerhuisje.nl/zoek-en-boek.php?filled=1&fzt=&fap=0&fas=0&fad=0&fsg=2-0 [R=301,L]
RewriteRule ^chalet/zomervakantie-frankrijk\.htm$ http://www.zomerhuisje.nl/zoek-en-boek.php?filled=1&fzt=&fap=0&fas=0&fad=0&fsg=1-0 [R=301,L]
RewriteRule ^chalet/zomervakantie-zwitserland\.htm$ http://www.zomerhuisje.nl/zoek-en-boek.php?filled=1&fzt=&fap=0&fas=0&fad=0&fsg=3-0 [R=301,L]
RewriteRule ^chalet/wintersport-les-menuires\.htm$ /plaats/Les_Menuires/ [R=301,L]
RewriteRule ^chalet/val-cenis\.htm$ /plaats/Val_Cenis/ [R=301,L]
RewriteRule ^chalet/la-rosiere\.htm$ /plaats/La_Rosiere/ [R=301,L]
RewriteRule ^chalet/chalet-zwitserland\.htm$ /land/Zwitserland/ [R=301,L]
RewriteRule ^chalet/chalet-wallis\.htm$ /land/Zwitserland/ [R=301,L]
RewriteRule ^chalet/chalet-val-thorens\.htm$ /plaats/Val_Thorens/ [R=301,L]
RewriteRule ^chalet/chalet-oostenrijk\.htm$ /land/Oostenrijk/  [R=301,L]
RewriteRule ^chalet/chalet-les-menuires\.htm$ /plaats/Les_Menuires/ [R=301,L]
RewriteRule ^chalet/chalet-les-deux-alpes\.htm$ /plaats/Les_Deux_Alpes/ [R=301,L]
RewriteRule ^chalet/chalet-la-plagne\.htm$ /skigebied/Paradiski_-_La_Plagne/ [R=301,L]
RewriteRule ^chalet/chalet-des-neiges\.htm$ /accommodatie/F116/ [R=301,L]
RewriteRule ^chalet$ /land/Frankrijk/ [R=301,L]
RewriteRule ^chalet/.*$ / [R=301,L]

RewriteCond %{HTTP_HOST} zomerhuisje [NC]
RewriteRule ^vakantie/.*$ / [R=301,L]


# Nieuwe Grizzly-links verwerken (zodat grizzly.php ertussen wordt gezet)
RewriteRule ^vakantie/([A-Za-z0-9-]*)\.php$ grizzly.php?grizzlyfile=$1&%{QUERY_STRING}

# Oude reisbureau-pagina's
RewriteRule ^reisbureau\.php$ /reisagent.php [R=301,L]
RewriteRule ^reisbureau_overzicht\.php$ /reisagent_overzicht.php [R=301,L]

# Zomerhuisje Tsjechie: bestaat niet meer
RewriteCond %{HTTP_HOST} zomerhuisje [NC]
RewriteRule Tsjechie /bestemmingen.php [R=301,L]

# Leverancier-login
RewriteRule ^ownerlogin/?$ /lev_login.php [R=301,L]

# oude tmp_verzendmethode doorsturen naar verzendmethode
RewriteRule ^tmp_verzendmethode\.php$ /verzendmethode.php [R=301,L]


# Engelstalige pagina's
RewriteRule ^favourites\.php$ favorieten.php?%{QUERY_STRING}
RewriteRule ^ask-our-advice\.php$ vraag-ons-advies.php?%{QUERY_STRING}


# Oude blog-afbeeldingen nog aanbieden
RewriteRule pic/cms/blog/([0-9]{1,})\.jpg /pic/cms/blog/$1-1.jpg [R=301,L]


#
# Rewriten van .php-pagina's
#

RewriteRule ^sitemap/$ /sitemap [L,R=301]
#RewriteRule ^sitemap\.php$ /sitemap [L,R=301]
RewriteRule ^sitemap$ sitemap.php?%{QUERY_STRING}
RewriteRule ^agriturismo-italie$ agriturismo-italie.php?%{QUERY_STRING}
RewriteRule ^agriturismo-toscane$ agriturismo-toscane.php?%{QUERY_STRING}
RewriteRule ^vakantiehuizen-gardameer$ vakantiehuizen-gardameer.php?%{QUERY_STRING}
RewriteRule ^vakantiehuizen-bloemenriviera$ vakantiehuizen-bloemenriviera.php?%{QUERY_STRING}
RewriteRule ^vakantie-in-italie$ vakantie-in-italie.php?%{QUERY_STRING}

RewriteRule ^aanbiedingen$ /aanbiedingen/ [L,R=301]
RewriteRule ^aanbiedingen/$ aanbiedingen_zomerhuisje.php?%{QUERY_STRING}
RewriteRule ^aanbiedingen/([A-Za-z0-9-]*)$ /aanbiedingen/$1/
RewriteRule ^aanbiedingen/([A-Za-z0-9-]*)/$ aanbiedingen_zomerhuisje.php?land=$1&%{QUERY_STRING}

# Inlogsysteem (via link inloggen)
RewriteRule ^[wW]/[a-z]([0-9]+)[a-z]([a-zA-Z0-9]+)([0-9])/([0-9]+)$ inloggen.php?directlogin=1&user_id=$1&code=$2&soort=$3&bid=$4
RewriteRule ^[wW]/[a-z]([0-9]+)[a-z]([a-zA-Z0-9]+)([0-9])$ inloggen.php?directlogin=1&user_id=$1&code=$2&soort=$3


# TradeTracker Italissima.nl
RewriteCond %{HTTP_HOST} italissima\.nl [NC]
RewriteRule ^italie/$ /tradetracker/ [L]

# TradeTracker Italissima.be
RewriteCond %{HTTP_HOST} italissima\.be [NC]
RewriteRule ^vakantie/$ /tradetracker/ [L]

# TradeTracker SuperSki
RewriteCond %{HTTP_HOST} superski\.nl [NC]
RewriteRule ^superski/$ /tradetracker/ [L]

# Foute spellingen accommodatie
RewriteRule ^acomodatie/(.*)$ /accommodatie/$1  [L,R=301]
RewriteRule ^accomodatie/(.*)$ /accommodatie/$1  [L,R=301]
RewriteRule ^acommodatie/(.*)$ /accommodatie/$1  [L,R=301]
RewriteRule ^acomodation/(.*)$ /accommodation/$1  [L,R=301]
RewriteRule ^acommodation/(.*)$ /accommodation/$1  [L,R=301]
RewriteRule ^accomodation/(.*)$ /accommodation/$1  [L,R=301]

# Accommodatiepagina's (SEO)
RewriteRule wintersport/([A-Za-z][0-9]+)/?.*$ accommodatie.php?accid=$1&%{QUERY_STRING}
RewriteRule winter-sports/([A-Za-z][0-9]+)/?.*$ accommodatie.php?accid=$1&%{QUERY_STRING}
RewriteRule vakantiehuizen/([A-Za-z][0-9]+)/?.*$ accommodatie.php?accid=$1&%{QUERY_STRING}
RewriteRule holiday-homes/([A-Za-z][0-9]+)/?.*$ accommodatie.php?accid=$1&%{QUERY_STRING}

# Accommodatiepagina's (gewoon)
RewriteRule ^accommodatie/([A-Za-z][0-9]+)/?.*$ accommodatie.php?accid=$1&%{QUERY_STRING}
RewriteRule ^accommodation/([A-Za-z][0-9]+)/?.*$ accommodatie.php?accid=$1&%{QUERY_STRING}

# Regio-pagina's winter
RewriteRule ^wintersport/skigebied/([A-Za-z0-9_-]+)/?.*$ skigebied.php?naamskigebied=$1&%{QUERY_STRING}
RewriteRule ^winter-sports/region/([A-Za-z0-9_-]+)/?.*$ skigebied.php?naamskigebied=$1&%{QUERY_STRING}
RewriteRule ^skigebied/([A-Za-z0-9_-]+)/?.*$ skigebied.php?naamskigebied=$1&%{QUERY_STRING}
RewriteRule ^region/([A-Za-z0-9_-]+)/?.*$ skigebied.php?naamskigebied=$1&%{QUERY_STRING}

# Regio-pagina's zomer
RewriteRule ^vakantiehuizen/regio/([A-Za-z0-9_-]+)/?.*$ skigebied.php?naamskigebied=$1&%{QUERY_STRING}
RewriteRule ^holiday-homes/region/([A-Za-z0-9_-]+)/?.*$ skigebied.php?naamskigebied=$1&%{QUERY_STRING}
RewriteRule ^regio/([A-Za-z0-9_-]+)/?.*$ skigebied.php?naamskigebied=$1&%{QUERY_STRING}

# Plaats-pagina's
RewriteRule ^plaats/([A-Za-z0-9_-]+)/?.*$ plaats.php?naamplaats=$1&%{QUERY_STRING}
RewriteRule ^resort/([A-Za-z0-9_-]+)/?.*$ plaats.php?naamplaats=$1&%{QUERY_STRING}


# forward naar Chalet vanuit Italissima
RewriteRule ^forward-chaletnl-italie$ http://www.chalet.nl/land/Italie/ [L,R=301]
RewriteRule ^forward-chaletbe-italie$ http://www.chalet.be/land/Italie/ [L,R=301]

#
# Tijdelijke pagina's
#

# nieuwsbrief-actie
#RewriteRule ^nieuwsbriefactie/$ /nieuwsbriefactie [L,R=301]
#RewriteRule ^nieuwsbriefactie$ nieuwsbriefactie.php?%{QUERY_STRING}

# alpe-d-huzes
RewriteRule ^alpe-d-huzes/$ /alpe-d-huzes [L,R=301]
RewriteRule ^alpe-d-huzes$ alpedhuzes.php?%{QUERY_STRING}

# reiskookboek Italissima
RewriteRule ^reiskookboek/$ /reiskookboek [L,R=301]
RewriteRule ^reiskookboek$ actie-kookboek.php?%{QUERY_STRING}

# nieuwsbrief-actie
RewriteRule ^reisblog/$ /reisblog [L,R=301]
RewriteRule ^reisblog$ reisblog.php?%{QUERY_STRING}
RewriteRule ^reisblog/voorwaarden$ reisblog.php?voorwaarden=1&%{QUERY_STRING}


#
# Oude pagina's die niet meer bestaan: redirect naar homepage
#
RewriteRule ^facebook-actie$ / [L,R=301]
RewriteRule ^agentenactie$ / [L,R=301]
RewriteRule ^nieuwsbriefactie$ / [L,R=301]


#
# Speciale file-instellingen
#

<FilesMatch "^cms.*">
php_value memory_limit 128M
php_value max_input_vars 50000
</FilesMatch>

<Files boeken.php>
php_value memory_limit 256M
</Files>

<Files cms_financien.php>
php_value memory_limit 384M
</Files>

<Files cms_boekingen.php>
php_value memory_limit 128M
</Files>

<Files cms_boekingen_wijzigen.php>
php_value memory_limit 128M
</Files>

<Files cms_boekingen_vouchers.php>
php_value memory_limit 512M
</Files>

<Files cms_xmlnewimport.php>
php_value memory_limit 512M
</Files>

<Files elkuur.php>
php_value memory_limit 256M
</Files>

<Files cms_zoekstatistieken.php>
php_value memory_limit 256M
</Files>

<Files cms_optieaanvragen.php>
php_value memory_limit 256M
</Files>

<Files thumbnail.php>
php_value memory_limit 128M
</Files>

<Files xml_import.php>
php_value memory_limit 256M
</Files>

<Files cms_leveranciers.php>
php_value memory_limit 128M
</Files>

<Files cms_accommodaties.php>
php_value memory_limit 256M
php_value upload_max_filesize 100M
php_value post_max_size 100M
</Files>

<Files cms_types.php>
php_value memory_limit 256M
php_value upload_max_filesize 100M
php_value post_max_size 100M
</Files>

<Files cms_plaatsen.php>
php_value memory_limit 256M
php_value upload_max_filesize 100M
php_value post_max_size 100M
</Files>

<Files cms_skigebieden.php>
php_value memory_limit 256M
php_value upload_max_filesize 100M
php_value post_max_size 100M
</Files>

<Files cms_aanbiedingen.php>
php_value memory_limit 256M
php_value upload_max_filesize 100M
php_value post_max_size 100M
</Files>

<Files wt_phpmysqldump.php>
php_value memory_limit 256M
</Files>

<Files bsys_wijzigen.php>
php_value memory_limit 128M
</Files>

<Files tradetracker.php>
php_value memory_limit 256M
</Files>

<IfModule mod_expires.c>
	#
	# mod_headers en mod_expires
	#
	# Turn on Expires and set default to 0
	ExpiresActive On
	ExpiresDefault A0

	# Set up caching on for 180 days
	<FilesMatch "\.(css|gif|jpg|jpeg|png|swf|ico|js)$">
	ExpiresDefault A15552000
	Header append Cache-Control "public"
	</FilesMatch>

	<FilesMatch "\.phpcache$">
	ExpiresActive On
	ExpiresDefault A15552000
	Header append Cache-Control "public"
	</FilesMatch>

	# Force no caching for dynamic files
	<FilesMatch "\.(php|cgi|pl|htm|html)$">
	ExpiresActive Off
	Header set Cache-Control "private, no-cache, no-store, proxy-revalidate, no-transform"
	Header set Pragma "no-cache"
	</FilesMatch>
</IfModule>

<IfModule pagespeed_module>
	#
	# mod_pagespeed
	#
	# http://www.the-art-of-web.com/system/mod-pagespeed-settings/
	#
	ModPagespeed off

#	AddOutputFilterByType MOD_PAGESPEED_OUTPUT_FILTER text/html
#	AddOutputFilterByType MOD_PAGESPEED_OUTPUT_FILTER text/css
#	AddOutputFilterByType MOD_PAGESPEED_OUTPUT_FILTER application/x-javascript

#	ModPagespeedEnableFilters move_css_to_head
#	ModPagespeedEnableFilters rewrite_css,rewrite_javascript
#	ModPagespeedEnableFilters outline_css,outline_javascript

</IfModule>
