AuthUserFile .htpasswd
AuthGroupFile .htgroup
AuthName "Chalet.nl"
AuthType Basic
Satisfy Any
<Limit GET POST>
order deny,allow
deny from all
allow from 127.0.0.1
allow from 172.16.1.
allow from 87.250.135.71
allow from 82.173.186.80
allow from 80.101.166.235
allow from 213.125.164.74
allow from 82.93.130.238
require valid-user
</Limit>