AuthUserFile .htpasswd
AuthGroupFile .htgroup
AuthName "Chalet.nl"
AuthType Basic
Satisfy Any
<Limit GET POST>
order deny,allow
deny from all
allow from 127.0.0.1
allow from 172.16.1.
allow from 87.250.135.71

allow from 213.125.152.154
allow from 213.125.152.155
allow from 213.125.152.156
allow from 213.125.152.157
allow from 213.125.152.158

allow from 37.34.56.191
allow from 83.163.123.200
require valid-user
</Limit>